<form [formGroup]="companyDetailsFormGroup">

  <div class="col-sm-12">
    <div class="form-group">
        <label class="logos-item-label">Mobile Phone</label>
        <input formControlName="phone" placeholder="Mobile Phone*" class="logos-item-input">

        <mat-error *ngIf="isSubmitted && phone.hasError('required')">Phone is <strong>required</strong></mat-error>
        <mat-error *ngIf="phone.hasError('patternInvalid')">Phone number is <strong>invalid</strong>. Only numbers
          please.
        </mat-error>
      </div>
  </div>
  <div class="col-sm-12">
    <div class="form-group">
        <label class="logos-item-label">Email</label>
        <input formControlName="email" placeholder="Email*" class="logos-item-input">
        <mat-error *ngIf="isSubmitted && email.hasError('required')">E-mail is <strong>required</strong></mat-error>
        <mat-error *ngIf="isSubmitted && email.hasError('patternInvalid')">E-mail is <strong>invalid</strong>
        </mat-error>
      </div>
  </div>

  <div class="col-sm-12">
    <div class="form-group">
        <label class="logos-item-label">Address</label>
        <input formControlName="address" placeholder="Address*" class="logos-item-input">
        <mat-error *ngIf="isSubmitted && address.hasError('required')">Address is <strong>required</strong></mat-error>
      </div>
  </div>
  <div class="col-sm-12">
  <div class="last-block-form">
    <div class="register-buttons">
      <button class="reset-btn" matStepperPrevious><i class="fa fa-chevron-left" aria-hidden="true"></i>Previous</button>
    </div>
    <div class="register-buttons">
      <a class="login-btn" (click)="registerCompany()">Sign Up</a>
    </div>
  </div>
  </div>
</form>


