<main>
  <div class="dashboard-text-7">
    <div class="dashboard-text-item">
      <div class="dashboard-text-item-text">
        <div class="dashboard-text-8"><img src="../../../../assets/images/dash-img-10.png"></div>
        <div class="dashboard-text-9">Last Jobs</div>
      </div>
      <div class="see-all-list">
        See All List
        <i class="fas fa-chevron-right"></i>
      </div>
      <span class="dashboard-7-span-1"></span>
      <span class="dashboard-7-span-2"></span>
    </div>
    <div class="dashboard-text-item">
      <div class="dashboard-text-item-text">
        <div class="dashboard-text-8"><img src="../../../../assets/images/dash-img-11.png"></div>
        <div class="dashboard-text-9">Create New Job</div>
      </div>
      <div class="see-all-list">
      </div>
      <span class="dashboard-7-span-1"></span>
      <span class="dashboard-7-span-2"></span>
    </div>
  </div>
  <div class="dashboard-create-job">
    <div class="last-jobs-block">
      <div class="last-jobs">
        <div class="logos-item">
          <div class="logos-item-img">
            <img src="../../../assets/images/dash-img-12.png">
          </div>
          <div class="logos-block">
            <p class="text-5">Interior Designer</p>
            <p class="text-11">
              <span>Founders: </span>3 days ago
            </p>
            <p class="text-5">Part Time</p>
            <p class="text-12">
              In Austin, Tx
              <span class="text-15">Archieve</span>
            </p>
            <div class="last-jobs-more">
              <div>
                Applied <span>255</span>
              </div>
              <div class="more-last-child">
                More<i class="fas fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="logos-item">
          <div class="logos-item-img">
            <img src="../../../assets/images/dash-img-12.png">
          </div>
          <div class="logos-block">
            <p class="text-5">Interior Designer</p>
            <p class="text-11">
              <span>Founders: </span>3 days ago
            </p>
            <p class="text-5">Part Time</p>
            <p class="text-12">
              In Austin, Tx
              <span class="text-15">Archieve</span>
            </p>
            <div class="last-jobs-more">
              <div>
                Applied <span>255</span>
              </div>
              <div class="more-last-child">
                More<i class="fas fa-angle-right"></i>
              </div>
              <div class="last-in-progress">
                <div class="text-16">In Process</div>
                <div class="text-17">Will Finish on <span class="text-18">15/05/2020</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="last-jobs-pdf">
        <div class="last-jobs-pdf-1">
          <div></div>
          <div>Name</div>
          <div>Social Medias</div>
          <div>PDF</div>
          <div>Confirm</div>
        </div>
        <div class="last-jobs-pdf-2">
          <div class="last-jobs-pdf-2-img">
            <img src="../../../../assets/images/find-work-10.png">
          </div>
          <p class="text-19">Jessica Alba</p>
          <div class="last-jobs-social">
            <div><img src="/../../../../assets/images/dash-insta.png"></div>
            <div><img src="/../../../../assets/images/dash-twit.png"></div>
          </div>
          <div class="last-jobs-check">
            <img src="../../../../assets/images/dash-check-1.png">
            <img src="../../../../assets/images/dash-check-2.png">
          </div>
          <div class="last-jobs-confirm">
            <img src="../../../../assets/images/communications.png">
          </div>
          <div class="last-jobs-more-abs">
            More <i class="fas fa-angle-right"></i>
          </div>
        </div>
        <div class="last-jobs-pdf-2">
          <div class="last-jobs-pdf-2-img">
            <img src="../../../../assets/images/find-work-10.png">
          </div>
          <p class="text-19">Jessica Alba</p>
          <div class="last-jobs-social">
            <div><img src="/../../../../assets/images/dash-insta.png"></div>
            <div><img src="/../../../../assets/images/dash-twit.png"></div>
          </div>
          <div class="last-jobs-check">
            <img src="../../../../assets/images/dash-check-1.png">
            <img src="../../../../assets/images/dash-check-2.png">
          </div>
          <div class="last-jobs-confirm last-jobs-confirm-old">
            <img src="../../../../assets/images/communications.png">
          </div>
          <div class="last-jobs-more-abs">
            More <i class="fas fa-angle-right"></i>
          </div>
        </div>
        <div class="last-jobs-pdf-2">
          <div class="last-jobs-pdf-2-img">
            <img src="../../../../assets/images/find-work-10.png">
          </div>
          <p class="text-19">Jessica Alba</p>
          <div class="last-jobs-social">
            <div><img src="/../../../../assets/images/dash-insta.png"></div>
            <div><img src="/../../../../assets/images/dash-twit.png"></div>
          </div>
          <div class="last-jobs-check">
            <img src="../../../../assets/images/dash-check-1.png">
            <img src="../../../../assets/images/dash-check-2.png">
          </div>
          <div class="last-jobs-confirm">
            <img src="../../../../assets/images/communications.png">
          </div>
          <div class="last-jobs-more-abs">
            More <i class="fas fa-angle-right"></i>
          </div>
        </div>
        <div class="all-applied">All Applied<i class="fas fa-angle-right"></i></div>
      </div>
    </div>
    <div class="jobs-form">
      <form class="jobs-form-content">
        <div class="jobs-form-content-header">
          <div class="jobs-form-content-header-img">
            <img src="../../../assets/images/form-img.png">
          </div>
          Job Application Form
        </div>
        <div class="jobs-form-inputs">
          <div class="jobs-form-item">
            <label>Job Title</label>
            <input placeholder="Job Title">
          </div>
          <div class="jobs-form-item dropdown">
            <label>Employment</label>
            <input class="dropdown-toggle" id="dropdownMenuLink-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" placeholder="Employment">
            <i class="fas fa-angle-down select-webkit"></i>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-1">
              <a class="dropdown-item" href="#">Full - Time</a>
              <a class="dropdown-item" href="#">Part time</a>
              <a class="dropdown-item" href="#">Full - Time</a>
            </div>
          </div>
          <div class="jobs-form-item dropdown">
            <label>Country</label>
            <input class="dropdown-toggle" id="dropdownMenuLink-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" placeholder="Country">
            <i class="fas fa-angle-down select-webkit"></i>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-2">
              <a class="dropdown-item" href="#">Usa</a>
              <a class="dropdown-item" href="#">Italy</a>
              <a class="dropdown-item" href="#">France</a>
            </div>
          </div>
          <div class="jobs-form-item dropdown">
            <label>City</label>
            <input class="dropdown-toggle" id="dropdownMenuLink-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" placeholder="City">
            <i class="fas fa-angle-down select-webkit"></i>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-3">
              <a class="dropdown-item" href="#">New York</a>
              <a class="dropdown-item" href="#">New York</a>
              <a class="dropdown-item" href="#">New York</a>
            </div>
          </div>
          <div class="jobs-form-item">
            <label>Date Opened</label>
            <input placeholder="DD / MM / YYY">
          </div>
          <div class="jobs-form-item">
            <label>Date Close</label>
            <input placeholder="DD / MM / YYY">
          </div>
          <div class="jobs-form-item dropdown">
            <label>Experience</label>
            <input class="dropdown-toggle" id="dropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" placeholder="Experience">
            <i class="fas fa-angle-down select-webkit"></i>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-4">
              <a class="dropdown-item" href="#">Begginer</a>
              <a class="dropdown-item" href="#">Begginer</a>
              <a class="dropdown-item" href="#">Begginer</a>
            </div>
          </div>
          <div class="jobs-form-item">
            <a class="jobs-form-item-next">Next<i class="fas fa-angle-right"></i></a>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
