<section class="bg-images-1">
  <div class="about-warp">
    <div class="about-inner sign-up">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="logo" (click)="router.navigate(['/'])">
              <figure class="animate__fadeInLeftBig animate__animated"><a href="javascript:void(0);"><img src="assets/images/logo.png" alt="Pavi" title="Pavi" class="img-responsive" />
                <h2>Pavi</h2>
                </a></figure>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="private-user private-user animate__fadeInRightBig animate__animated">
              <div class="private-user-info">
                <div class="private-user-head"> 
                <h2>Sign in</h2>
                <h6>Choose the versions of Sign In.</h6>
                <a  *ngIf="id==undefined" class="sign-google"  (click)="router.navigate(['auth/company-registration'])"> Sign Up Here</a>
                <a  *ngIf="id!=undefined" class="sign-google"  (click)="router.navigate(['auth/user-registration'],{ queryParams: { job: id } })"> Sign Up Here</a>
                  <div class="private-title">
                    <h4>&nbsp;</h4>
                    <span class="and-off">OR</span> </div>
                </div>
                <form class="login-form" [formGroup]="loginForm">
                  <div class="private-user-body">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Email</label>
                          <input class="form-control" type="text" placeholder="Email*" formControlName="email" />
                          <mat-error *ngIf="isSubmitted && email.hasError('required')">E-mail is <strong>required</strong></mat-error>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Password</label>
                          <input class="form-control" type="password" placeholder="Password*" formControlName="password" />
                          <mat-error *ngIf="isSubmitted && pass.hasError('required')">Password is <strong>required</strong>
                          </mat-error>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group">
                          <a class="forgot-password" href="forgot">Forgot Password? </a>
                          
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                      <div class="form-group">
                      <button class="btn btn-block" type="button" (click)="login()">Sign In</button>
                      </div>
                      
                      </div>
                      
                      </div>
                  </div>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>