

<div *ngIf="isLoder" class="loader"> <svg width="80" height="80" viewBox="0 0 38 38" stroke="#fff">
    <g fill="none" fill-rule="evenodd">
      <g transform="translate(1 1)" stroke-width="2">
        <circle stroke-opacity=".2" cx="18" cy="18" r="18"/>
        <path d="M36 18c0-9.94-8.06-18-18-18">
          <animateTransform
                        attributeName="transform"
                        type="rotate"
                        from="0 18 18"
                        to="360 18 18"
                        dur="1s"
                        repeatCount="indefinite"/>
                </path>
            </g>
        </g>
    </svg> 
    </div> 
    <div class="modal fade in" id="add-modal-seniority">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Seniority Level</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form [formGroup]="seniorityForm" (ngSubmit)="saveSeniority()">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Seniority Level:</label>
                    <input type="text" class="form-control" formControlName="seniority">
                    <div *ngIf="seniorityForm.get('seniority').touched && seniorityForm.get('seniority').invalid" class="alert alert-danger">Seniority Level is required</div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary ">Submit</button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
    <div class="modal fade in" id="add-modal-employment">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Employment</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form [formGroup]="employmentForm" (ngSubmit)="saveEmployment()">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Employment:</label>
                    <input type="text" class="form-control" formControlName="employment">
                    <div *ngIf="employmentForm.get('employment').touched && employmentForm.get('employment').invalid" class="alert alert-danger">Employment is required</div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary ">Submit</button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
    
    <div class="modal fade in" id="add-modal-responsibilities">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Responsibilities</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form [formGroup]="responsibilityForm" (ngSubmit)="saveResponsibility()">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Responsibilities:</label>
                    <input type="text" class="form-control" formControlName="responsibility">
                    <div *ngIf="responsibilityForm.get('responsibility').touched && responsibilityForm.get('responsibility').invalid" class="alert alert-danger">Responsibility is required</div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary ">Submit</button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
    <div class="modal fade in" id="add-modal-requirements">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Requirements</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form [formGroup]="requirementsForm" (ngSubmit)="saveRequirements()">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Requirement:</label>
                    <input type="text" class="form-control" formControlName="requirement">
                    <div *ngIf="requirementsForm.get('requirement').touched && requirementsForm.get('requirement').invalid" class="alert alert-danger">Requirements is required</div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary ">Submit</button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>

    <div class="modal fade in" id="show-question">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Question List</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div *ngIf="jobs && jobs.length == 0">No record found</div>
            <div *ngIf="jobs && jobs.length > 0" class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Question</th>
                    <th style="text-align:right;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let question of questions; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{question.question}}</td>
                   
                    <td align="right"> <a class="btn red"> <i (click)="deleteQuestion(i,question.id)" class="fa fa-trash"></i></a></td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
          
        </div>
      </div>
    
    </div>

    <div *ngIf="singleJob" class="modal fade in" id="show-job">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Job Info</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                  <div class="col-sm-6">
                      <label for="recipient-name" class="col-form-label">Job Title:</label> {{singleJob.jobTitle}}
                  </div>
                  <div class="col-sm-6">
                    <label for="recipient-name" class="col-form-label">Email:</label> {{singleJob.email}}
                  </div>
                  <div class="col-sm-6">
                    <label for="recipient-name" class="col-form-label">Company Address:</label> {{singleJob.companyAddress}}
                  </div>
                  <div class="col-sm-6">
                    <label for="recipient-name" class="col-form-label">Experience:</label> {{singleJob.experience}} years
                  </div>
                  <div class="col-sm-6">
                    <label for="recipient-name" class="col-form-label">Seniority Level:</label> {{singleJob.level}}
                  </div>
                  <div class="col-sm-6">
                    <label for="recipient-name" class="col-form-label">Employment:</label> {{singleJob.employment}}
                  </div>
                  <div class="col-sm-6">
                    <label for="recipient-name" class="col-form-label">Salary:</label> {{singleJob.salary}}
                  </div>
                  <div class="col-sm-6">
                    <label for="recipient-name" class="col-form-label">Job Brief:</label>  {{singleJob.job_brief}}
                  </div>
                  <div class="col-sm-6">
                    <label for="recipient-name" class="col-form-label">Job Description:</label>  {{singleJob.job_description}}
                  </div>
                  <!-- <div class="col-sm-6">
                    <label for="recipient-name" class="col-form-label">Responsibilities:</label> <span *ngFor="let responsibility of singleJob.responsibility" > {{responsibility}} <br></span>
                  </div> -->
                  <!-- <div class="col-sm-6">
                    <label for="recipient-name" class="col-form-label">Requirements:</label>  <span *ngFor="let requirement of singleJob.requirement" > {{requirement}} <br></span>
                  </div> -->
                  <div class="col-sm-6">
                    <label for="recipient-name" class="col-form-label">Job Posted Date:</label> {{singleJob.dateOpened | date: 'longDate'}}
                  </div>
                  <!-- <div class="col-sm-6">
                    <label for="recipient-name" class="col-form-label">Job End Date:</label> {{singleJob.dateClose}}
                  </div> -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
            
          </div>
        </div>
    </div>

  
  <div class="bg-images-1">
    <div class="content-warp">
      <div class="content-bg-inner"> 
        <app-company-sidebar></app-company-sidebar>
          
            <div class="right-bar">
            <app-company-dashboard-header></app-company-dashboard-header>
            <div class="dashboard-right-mid" id="pills-tabContent">
              <div class="title-warp">
                <h2>Dashboard <span>{{today | date:'longDate'}}</span></h2>
              </div>
  
             
              <div *ngIf="edit_jobs" id="create-job"> 
                <div class="inner-page">
                  <h2>Create Job</h2>
                  <form [formGroup]="jobForm" (ngSubmit)="saveJob()">
                    <div class="row">
                      <div class="col-xl-6 col-md-6">
                        <div class="form-group">
                          <label>Job Title</label>
                          <input class="form-control" id="username" placeholder="Job Title" type="text" formControlName="jobTitle"/>
                        </div>
                        <div *ngIf="jobForm.get('jobTitle').touched && jobForm.get('jobTitle').invalid"class="alert alert-danger">Job Title is required</div>
                      </div>
                      <div class="col-xl-6 col-md-6">
                        <div class="form-group">
                          <label>Country</label>
                          <select class="form-control" formControlName="country">
                            <option selected disabled [value]="''">Country*</option>
                            <option *ngFor="let country of countries" [value]="country">{{country}}</option>
                          </select>
                        </div>
                        <div *ngIf="jobForm.get('country').touched && jobForm.get('country').invalid"class="alert alert-danger">country is required</div>
                      </div>
                      <div class="col-xl-6 col-md-6">
                        <div class="form-group">
                          <label>Company Email</label>
                          <input class="form-control" id="company" placeholder="Company Email" type="email" formControlName="email"/>
                        </div>
                        <div *ngIf="jobForm.get('email').touched && jobForm.get('email').invalid"class="alert alert-danger">Email is required</div>
                      </div>
                      <div class="col-xl-6 col-md-6">
                        <div class="form-group">
                          <label>Company Address</label>
                          <input class="form-control" id="CompanyAddress" placeholder="Company Address" type="text" formControlName="companyAddress"/>
                        </div>
                        <div *ngIf="jobForm.get('companyAddress').touched && jobForm.get('companyAddress').invalid"class="alert alert-danger">Company Address is required</div>
                      </div>
                      <div class="col-xl-6 col-md-6">
                        <div class="form-group">
                          <label>Job category</label>
                          <select class="form-control" formControlName="category">
                            <option selected disabled [value]="''">category*</option>
                            <option *ngFor="let category of categories " [value]="category.category">{{category.category}}</option>
                          </select>
                        </div>
                        <div *ngIf="jobForm.get('category').touched && jobForm.get('category').invalid"class="alert alert-danger">category is required</div>
                      </div>
                      <div class="col-xl-6 col-md-6">
                        <div class="form-group">
                          <label>Experience (Years) </label>
                          <select class="form-control" formControlName="experience">
                            <option selected disabled [value]="''">Experience*</option>
                            <option [value]="0">0-1</option>
                            <option [value]="1">1-2</option>
                            <option [value]="2">2-3</option>
                            <option [value]="3">3-4</option>
                            <option [value]="4">4-5</option>
                            <option [value]="5">5-6</option>
                            <option [value]="6">6-7</option>
                            <option [value]="7">7-8</option>
                            <option [value]="8">8-9</option>
                            <option [value]="9">9-10</option>
                          </select>
                        </div>
                        <div *ngIf="jobForm.get('experience').touched && jobForm.get('experience').invalid"class="alert alert-danger">Experience is required</div>
                      </div>
                      <div class="col-xl-6 col-md-6">
                        <div class="form-group">
                          <label>Seniority Level &nbsp;<i class="fa fa-plus" aria-hidden="true" title="Add Seniority Level" (click)="addSeniority()"></i></label>
                          <select class="form-control" formControlName="level">
                            <option selected disabled [value]="''">Seniority Level*</option>
                            <option *ngFor="let seniority of seniorityLevels" [value]="seniority['seniority']">{{seniority['seniority']}}</option>
                          </select>
                        </div>
                        <div *ngIf="jobForm.get('level').touched && jobForm.get('level').invalid"class="alert alert-danger">Seniority Level is required</div>
                      </div>
  
                      <div class="col-xl-6 col-md-6">
                        <div class="form-group">
                          <label>Employment &nbsp;<i class="fa fa-plus" aria-hidden="true" title="Add Employment" (click)="addEmployment()"></i></label>
                          <select class="form-control" formControlName="employment">
                            <option selected disabled [value]="''">Employment*</option>
                            <option *ngFor="let employment of employments" [value]="employment['employment']">{{employment['employment']}}</option>
                          </select>
                        </div>
                        <div *ngIf="jobForm.get('employment').touched && jobForm.get('employment').invalid"class="alert alert-danger">Employment is required</div>
                      </div>
                      <div class="col-xl-6 col-md-6">
                        <div class="form-group">
                          <label>Salary</label>
                          <input class="form-control" id="Salary" placeholder="Salary" type="text" formControlName="salary"/>
                        </div>
                        <div *ngIf="jobForm.get('salary').touched && jobForm.get('salary').invalid"class="alert alert-danger">Salary is required</div>
                      </div>
                      <div class="col-xl-6 col-md-6">
                        <div class="form-group">
                          <label>About</label>
                          <textarea class="form-control" placeholder="About" formControlName="job_brief"></textarea>
                        </div>
                        <div *ngIf="jobForm.get('job_brief').touched && jobForm.get('job_brief').invalid"class="alert alert-danger">About is required</div>
                      </div>
                      <div class="col-xl-6 col-md-6">
                        <div class="form-group">
                          <label>Job Description</label>
                          <textarea class="form-control" placeholder="Job Description" formControlName="job_description"></textarea>
                        </div>
                        <div *ngIf="jobForm.get('job_description').touched && jobForm.get('job_description').invalid"class="alert alert-danger">Job Description is required</div>
                      </div>
                      <!-- <div class="col-xl-6 col-md-6">
                        <div class="form-group">
                          <label>Responsibilities &nbsp;<i class="fa fa-plus" aria-hidden="true" title="Add Responsibilities" (click)="addResponsibilities()"></i></label>
                          <select class="form-control" multiple style="height: 100px;" formControlName="responsibility">
                            <option *ngFor="let responsibility of responsibilities"  [value]="responsibility['responsibility']">{{responsibility['responsibility']}}</option>
                          </select>
                        </div>
                        <div *ngIf="jobForm.get('responsibility').touched && jobForm.get('responsibility').invalid"class="alert alert-danger">Responsibilities required</div>
                      </div> -->
                      <!-- <div class="col-xl-6 col-md-6">
                        <div class="form-group">
                          <label>Requirements  &nbsp;<i class="fa fa-plus" aria-hidden="true" title="Add Requirements" (click)="addRequirements()"></i></label>
                          <select class="form-control" multiple style="height: 100px;" formControlName="requirement">
                            <option *ngFor="let requirement of requirements" [value]="requirement['requirement']">{{requirement['requirement']}}</option>
                          </select>
                        </div>
                        <div *ngIf="jobForm.get('requirement').touched && jobForm.get('requirement').invalid"class="alert alert-danger">Requirements required</div>
                      </div> -->
  
                      <div class="col-xl-6 col-md-6">
                        <div class="form-group">
                          <label>Job Posting Date</label>
                          <input class="form-control" id="start-date" placeholder="Job Posting Date" type="date" formControlName="date_opened"/>
                        </div>
                        <div *ngIf="jobForm.get('date_opened').touched && jobForm.get('date_opened').invalid"class="alert alert-danger">Job Posting Date is required</div>
                      </div>
                      <!-- <div class="col-xl-6 col-md-6">
                        <div class="form-group">
                          <label>Job End Date</label>
                          <input class="form-control" id="end-date" placeholder="Job End Date" type="date" formControlName="date_closed"/>
                        </div>
                        <div *ngIf="jobForm.get('date_closed').touched && jobForm.get('date_closed').invalid"class="alert alert-danger">Job End Date is required</div>
                        <input type="hidden" formControlName="jobId">
                      </div> -->
                      <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                          <label>Employee List</label>
                          <div class="row">
                            <div class="col-md-4" *ngFor="let emp of employees">
                                <mat-checkbox>
                                  {{emp.first_name}}&nbsp;{{emp.last_name}}
                                </mat-checkbox>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary ">Submit</button> &nbsp; &nbsp;
                          <button *ngIf="!jobForm.get('jobId').value" (click)= "jobFormRest()" type="button" class="btn btn-primary ">Reset</button>
                        </div>
  
                        
                      </div>
                    </div>
                
                    
                  </form>
                </div>
              </div>
  
              <div *ngIf="view_jobs" id="interviews">
                <!-- <div *ngIf="jobs && jobs.length == 0">No record found</div> -->
                <div class="row">
                  <div class="col-xl-12 col-md-12 mb-12">
                    <button type="button" class="btn btn-outline-dark float-right" (click)="router.navigate(['/companies/add-jobs'])">Add Jobs</button>
                  </div>
                </div>
                &nbsp;
                <div  class="table-responsive">
                    <!-- <mat-form-field>
                      <input
                        matInput
                        (keyup)="applyFilterOne($event.target.value)"
                        placeholder="Search Keyword"
                      />
                    </mat-form-field> -->
                    <table
                      mat-table
                      matSort
                      [dataSource]="dataSourceOne"
                    
                      class="table table-bordered"
                      style="width: 100%;"
                    >
                      <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->
                  
                      <!-- Position Column -->
                      <ng-container matColumnDef="jobTitle">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Job Title</th>
                        <td mat-cell *matCellDef="let element" (click)="router.navigate(['/companies/applicants'],{ queryParams: { filter: element.jobTitle, from: 'job' } })" style="cursor: pointer;">{{ element.jobTitle }}</td>
                      </ng-container>
                  
                      <!-- Name Column -->
                      <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
                      </ng-container>
                  
                      <!-- Weight Column -->
                      <!-- <ng-container matColumnDef="average_rating">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Average Rating</th>
                        <td mat-cell *matCellDef="let element">{{ element.experience }}</td>
                      </ng-container> -->
                  
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="level">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Seniority Level</th>
                        <td mat-cell *matCellDef="let element">{{ element.level }}</td>
                      </ng-container>
          
                      <ng-container matColumnDef="employer">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Employer</th>
                        <td mat-cell *matCellDef="let element">{{ element.employment}}</td>
                      </ng-container>
  
                      <ng-container matColumnDef="salary">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary</th>
                        <td mat-cell *matCellDef="let element">{{ element.salary}}</td>
                      </ng-container>
  
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>Action</th>
                        <td mat-cell *matCellDef="let element  let i = index;"> <a class="btn" data-toggle="modal" > <i class="fa fa-pencil" (click)="editJob(tableOnePaginator.pageSize * tableOnePaginator.pageIndex + i)"></i></a> 
                          <a class="btn"> <i class="fa fa-eye"  (click)="showJob(tableOnePaginator.pageSize * tableOnePaginator.pageIndex + i)"></i></a> 
                          <a class="btn red"> <i (click)="deleteJob(element.id)" class="fa fa-trash"></i></a>

                          <a class="btn" title="Add Questions"> <i (click)="router.navigate(['/companies/add-question'],{ queryParams: { jobId: element.id } })" class="fa fa-plus"></i></a>

                          <a class="btn" title="View Questions"> <i (click)="showQuestions(element.id)" class="fa fa-question"></i></a>

                          <a class="btn" title="Copy to clipboard"> <i class="fa fa-clipboard" (click)="copyToClipboard(element)"></i></a>
                        </td>
                      </ng-container>
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumnsOne"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsOne"></tr>
                    </table>
                  
                    <mat-paginator
                    #TableOnePaginator
                    [pageSizeOptions]="[10, 25, 100]"
                  ></mat-paginator>
                </div>
              </div>
            
  
              
              </div>
              </div>
                  
      </div>
      </div>
    <!-- <footer>© PAVI AI ALL RIGHTS RESERVED {{today | date:'yyyy'}}</footer> -->
    <app-dashboard-footer></app-dashboard-footer>
  </div>
