<div class="reset-content">
  <div class="reset-block">
    <p class="reset-text-4">Password Reset Email Sent</p>
    <div class="reset-block-2">
      <img src="assets/images/sent-email.png">
    </div>
    <p class="reset-text-5">
      If <span class="reset-text-6">Richard_som@gmail.com</span> is associated with an existing account, you will receive an email with instructions for reseting your password.
    </p>
    <p class="reset-text-5">
      If You did not receive any email from us with 15 minutes, please check your Spam holder. If there is still no email - <a class="reset-text-7">click here to try again.</a>
    </p>
    <div class="reset-buttons">
      <a class="reset-buttons-3"><i class="fas fa-chevron-left"></i>Go Back</a>
    </div>
  </div>
</div>
