<section class="section-block-2 section-block-11">
  <div class="system-decor">
    <div class="system-decor-1" (click)="showAllJobs = false">My Favorite Jobs</div>
    <a class="see-all-jobs go-all-jobs" (click)="showAllJobs = true">See All Jobs <i
      class="fas fa-chevron-right"></i></a>
    <a class="see-all-jobs back-all-jobs" (click)="showAllJobs = true"><i class="fas fa-chevron-left"></i>Back</a>
    <span class="system-circle-1"></span>
    <span class="system-circle-2"></span>
  </div>
</section>
<section class="more-jobs-close" *ngIf="!showAllJobs">
  <div class="profile-logos">
    <div class="profile-logos-block">
      <div class="active logos-item">
        <div class="logos-item-img">
          <img src="../../../assets/images/solaytic.png">
        </div>
        <div class="logos-block">
          <p class="text-5">Interior Designer</p>
          <p class="text-11">
            <span>Founders: </span>3 days ago
          </p>
          <p class="text-5">Part Time</p>
          <p class="text-12">
            In Austin, Tx <img src="../../../assets/images/heart.png">
          </p>
          <a class="text-6">More<i class="fas fa-angle-right"></i></a>
        </div>
      </div>
      <div class="active logos-item">
        <div class="logos-item-img">
          <img src="../../../assets/images/lighting.png">
        </div>
        <div class="logos-block">
          <p class="text-5">Interior Designer</p>
          <p class="text-11">
            <span>Founders: </span>3 days ago
          </p>
          <p class="text-5">Part Time</p>
          <p class="text-12">
            In Austin, Tx <img src="../../../assets/images/heart.png">
          </p>
          <a class="text-6">More<i class="fas fa-angle-right"></i></a>
        </div>
      </div>

    </div>
    <div class="logos profile-logos-center">

      <owl-carousel-o [options]="owlOptions">
        <ng-template carouselSlide>
          <div class="item logos-item">
            <div class="logos-item-img">
              <img src="../../../assets/images/aven.png">
            </div>
            <div class="logos-block">
              <p class="text-5">Interior Designer</p>
              <p class="text-11">
                <span>Founders: </span>3 days ago
              </p>
              <p class="text-5">Part Time</p>
              <p class="text-12">
                In Austin, Tx <img src="../../../assets/images/heart.png">
              </p>
              <a class="text-6">More<i class="fas fa-angle-right"></i></a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item logos-item">
            <div class="logos-item-img">
              <img src="../../../assets/images/kanba.png">
            </div>
            <div class="logos-block">
              <p class="text-5">Interior Designer</p>
              <p class="text-11">
                <span>Founders: </span>3 days ago
              </p>
              <p class="text-5">Part Time</p>
              <p class="text-12">
                In Austin, Tx <img src="../../../assets/images/heart.png">
              </p>
              <a class="text-6">More<i class="fas fa-angle-right"></i></a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item logos-item">
            <div class="logos-item-img">
              <img src="../../../assets/images/treva.png">
            </div>
            <div class="logos-block">
              <p class="text-5">Interior Designer</p>
              <p class="text-11">
                <span>Founders: </span>3 days ago
              </p>
              <p class="text-5">Part Time</p>
              <p class="text-12">
                In Austin, Tx <img src="../../../assets/images/heart.png">
              </p>
              <a class="text-6">More<i class="fas fa-angle-right"></i></a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item logos-item">
            <div class="logos-item-img">
              <img src="../../../assets/images/circle.png">
            </div>
            <div class="logos-block">
              <p class="text-5">Interior Designer</p>
              <p class="text-11">
                <span>Founders: </span>3 days ago
              </p>
              <p class="text-5">Part Time</p>
              <p class="text-12">
                In Austin, Tx <img src="../../../assets/images/heart.png">
              </p>
              <a class="text-6">More<i class="fas fa-angle-right"></i></a>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>


      <!--        <div class="owl-carousel owl-theme"></div>-->
      <div class="dotes-1"><img src="../../../assets/images/dotes-1.svg"></div>
      <div class="dotes-2"><img src="../../../assets/images/dotes-2.svg"></div>
    </div>
    <div class="profile-logos-block">
      <div class="active logos-item">
        <div class="logos-item-img">
          <img src="../../../assets/images/atica.png">
        </div>
        <div class="logos-block">
          <p class="text-5">Interior Designer</p>
          <p class="text-11">
            <span>Founders: </span>3 days ago
          </p>
          <p class="text-5">Part Time</p>
          <p class="text-12">
            In Austin, Tx <img src="../../../assets/images/heart.png">
          </p>
          <a class="text-6">More<i class="fas fa-angle-right"></i></a>
        </div>
      </div>
      <div class="active logos-item">
        <div class="logos-item-img">
          <img src="../../../assets/images/utosia.png">
        </div>
        <div class="logos-block">
          <p class="text-5">Interior Designer</p>
          <p class="text-11">
            <span>Founders: </span>3 days ago
          </p>
          <p class="text-5">Part Time</p>
          <p class="text-12">
            In Austin, Tx <img src="../../../assets/images/heart.png">
          </p>
          <a class="text-6">More<i class="fas fa-angle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="more-jobs-open" *ngIf="showAllJobs">
  <div class="profile-logos">
    <div class="profile-page-open-content">
      <div class="logos-item">
        <div class="logos-item-img">
          <img src="../../../assets/images/atica.png">
        </div>
        <div class="logos-block">
          <p class="text-5">Interior Designer</p>
          <p class="text-11">
            <span>Founders: </span>3 days ago
          </p>
          <p class="text-5">Part Time</p>
          <p class="text-12">
            In Austin, Tx <img src="../../../assets/images/heart.png">
          </p>
          <a class="text-6">More<i class="fas fa-angle-right"></i></a>
        </div>
      </div>
      <div class="logos-item">
        <div class="logos-item-img">
          <img src="../../../assets/images/atica.png">
        </div>
        <div class="logos-block">
          <p class="text-5">Interior Designer</p>
          <p class="text-11">
            <span>Founders: </span>3 days ago
          </p>
          <p class="text-5">Part Time</p>
          <p class="text-12">
            In Austin, Tx <img src="../../../assets/images/heart.png">
          </p>
          <a class="text-6">More<i class="fas fa-angle-right"></i></a>
        </div>
      </div>
      <div class="logos-item">
        <div class="logos-item-img">
          <img src="../../../assets/images/utosia.png">
        </div>
        <div class="logos-block">
          <p class="text-5">Interior Designer</p>
          <p class="text-11">
            <span>Founders: </span>3 days ago
          </p>
          <p class="text-5">Part Time</p>
          <p class="text-12">
            In Austin, Tx <img src="../../../assets/images/heart.png">
          </p>
          <a class="text-6">More<i class="fas fa-angle-right"></i></a>
        </div>
      </div>
      <div class="logos-item">
        <div class="logos-item-img">
          <img src="../../../assets/images/solaytic.png">
        </div>
        <div class="logos-block">
          <p class="text-5">Interior Designer</p>
          <p class="text-11">
            <span>Founders: </span>3 days ago
          </p>
          <p class="text-5">Part Time</p>
          <p class="text-12">
            In Austin, Tx <img src="../../../assets/images/heart.png">
          </p>
          <a class="text-6">More<i class="fas fa-angle-right"></i></a>
        </div>
      </div>
      <div class="logos-item">
        <div class="logos-item-img">
          <img src="../../../assets/images/lighting.png">
        </div>
        <div class="logos-block">
          <p class="text-5">Interior Designer</p>
          <p class="text-11">
            <span>Founders: </span>3 days ago
          </p>
          <p class="text-5">Part Time</p>
          <p class="text-12">
            In Austin, Tx <img src="../../../assets/images/heart.png">
          </p>
          <a class="text-6">More<i class="fas fa-angle-right"></i></a>
        </div>
      </div>
      <div class="logos-item">
        <div class="logos-item-img">
          <img src="../../../assets/images/atica.png">
        </div>
        <div class="logos-block">
          <p class="text-5">Interior Designer</p>
          <p class="text-11">
            <span>Founders: </span>3 days ago
          </p>
          <p class="text-5">Part Time</p>
          <p class="text-12">
            In Austin, Tx <img src="../../../assets/images/heart.png">
          </p>
          <a class="text-6">More<i class="fas fa-angle-right"></i></a>
        </div>
      </div>
      <div class="logos-item">
        <div class="logos-item-img">
          <img src="../../../assets/images/utosia.png">
        </div>
        <div class="logos-block">
          <p class="text-5">Interior Designer</p>
          <p class="text-11">
            <span>Founders: </span>3 days ago
          </p>
          <p class="text-5">Part Time</p>
          <p class="text-12">
            In Austin, Tx <img src="../../../assets/images/heart.png">
          </p>
          <a class="text-6">More<i class="fas fa-angle-right"></i></a>
        </div>
      </div>
      <div class="logos-item">
        <div class="logos-item-img">
          <img src="../../../assets/images/solaytic.png">
        </div>
        <div class="logos-block">
          <p class="text-5">Interior Designer</p>
          <p class="text-11">
            <span>Founders: </span>3 days ago
          </p>
          <p class="text-5">Part Time</p>
          <p class="text-12">
            In Austin, Tx <img src="../../../assets/images/heart.png">
          </p>
          <a class="text-6">More<i class="fas fa-angle-right"></i></a>
        </div>
      </div>
      <div class="logos-item">
        <div class="logos-item-img">
          <img src="../../../assets/images/lighting.png">
        </div>
        <div class="logos-block">
          <p class="text-5">Interior Designer</p>
          <p class="text-11">
            <span>Founders: </span>3 days ago
          </p>
          <p class="text-5">Part Time</p>
          <p class="text-12">
            In Austin, Tx <img src="../../../assets/images/heart.png">
          </p>
          <a class="text-6">More<i class="fas fa-angle-right"></i></a>
        </div>
      </div>
      <div class="logos-item">
        <div class="logos-item-img">
          <img src="../../../assets/images/atica.png">
        </div>
        <div class="logos-block">
          <p class="text-5">Interior Designer</p>
          <p class="text-11">
            <span>Founders: </span>3 days ago
          </p>
          <p class="text-5">Part Time</p>
          <p class="text-12">
            In Austin, Tx <img src="../../../assets/images/heart.png">
          </p>
          <a class="text-6">More<i class="fas fa-angle-right"></i></a>
        </div>
      </div>
      <div class="logos-item">
        <div class="logos-item-img">
          <img src="../../../assets/images/utosia.png">
        </div>
        <div class="logos-block">
          <p class="text-5">Interior Designer</p>
          <p class="text-11">
            <span>Founders: </span>3 days ago
          </p>
          <p class="text-5">Part Time</p>
          <p class="text-12">
            In Austin, Tx <img src="../../../assets/images/heart.png">
          </p>
          <a class="text-6">More<i class="fas fa-angle-right"></i></a>
        </div>
      </div>
      <div class="logos-item">
        <div class="logos-item-img">
          <img src="../../../assets/images/solaytic.png">
        </div>
        <div class="logos-block">
          <p class="text-5">Interior Designer</p>
          <p class="text-11">
            <span>Founders: </span>3 days ago
          </p>
          <p class="text-5">Part Time</p>
          <p class="text-12">
            In Austin, Tx <img src="../../../assets/images/heart.png">
          </p>
          <a class="text-6">More<i class="fas fa-angle-right"></i></a>
        </div>
      </div>
      <div class="logos-item">
        <div class="logos-item-img">
          <img src="../../../assets/images/lighting.png">
        </div>
        <div class="logos-block">
          <p class="text-5">Interior Designer</p>
          <p class="text-11">
            <span>Founders: </span>3 days ago
          </p>
          <p class="text-5">Part Time</p>
          <p class="text-12">
            In Austin, Tx <img src="../../../assets/images/heart.png">
          </p>
          <a class="text-6">More<i class="fas fa-angle-right"></i></a>
        </div>
      </div>
      <div class="logos-item">
        <div class="logos-item-img">
          <img src="../../../assets/images/solaytic.png">
        </div>
        <div class="logos-block">
          <p class="text-5">Interior Designer</p>
          <p class="text-11">
            <span>Founders: </span>3 days ago
          </p>
          <p class="text-5">Part Time</p>
          <p class="text-12">
            In Austin, Tx <img src="../../../assets/images/heart.png">
          </p>
          <a class="text-6">More<i class="fas fa-angle-right"></i></a>
        </div>
      </div>
      <div class="logos-item">
        <div class="logos-item-img">
          <img src="../../../assets/images/lighting.png">
        </div>
        <div class="logos-block">
          <p class="text-5">Interior Designer</p>
          <p class="text-11">
            <span>Founders: </span>3 days ago
          </p>
          <p class="text-5">Part Time</p>
          <p class="text-12">
            In Austin, Tx <img src="../../../assets/images/heart.png">
          </p>
          <a class="text-6">More<i class="fas fa-angle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-page-open-pagination">
    <a class="pagination-left" href="#"><i class="fas fa-angle-left"></i></a>
    <a class="active" href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a class="pagination-right" href="#"><i class="fas fa-angle-right"></i></a>
  </div>
</section>
