.loader{background:rgba(0,0,0,0.5); position:fixed; left:0px; right:0px; top:0px; bottom:0px; z-index:9;}
.loader svg{margin: 20% auto; display: table;}
.find-job-block-info .logos-item{width: 275px;}
.find-job-section-1 img{width: 22px; position: absolute; left: 30px; top: 19px;}
.logos-item-input{padding-left:45px;}
.find-job-section-1{padding: 0 10px 0 30px;}
.find-job-section-1 .login-btn{height:60px; width:100%;}
.find-job-right-icon { position: absolute; left: 17px; top: 15px; color: #0265C9; right: inherit;}
.find-job-section-1 .login-btn:hover .find-job-right-icon{color:#fff;}
.find-job-block .logos-item-img{background: #d9dbdb;}
.content-info{padding-top: 10px !important;}
/* .mid-content{position:relative !important;} */
.job-title{width:100%;}
.select-job{width:100%;font-size: x-large;}


.mid-bar{position: absolute !important; left: 0; right: 0; top: 20%;}
.content-info h1{width:100%;}
/* .global-icon{bottom:0px;} */
.colIndex{z-index: -1;}

.bootstrap-select .dropdown-menu{width:100% !important;min-width: 290px !important;min-height: 100px !important;}

@media (max-width: 767px) {
.find-job-section-1{padding:30px 10px 30px 10px;}
.find-job-section-1 img{top: 12px;}
.logos-item-input{margin-bottom:20px;}
.find-job-right-icon { left: 0px; top: 20px; color: #0265C9; right: 93px; font-size:18px;}
.find-job-block-left {width: 100%;}
.accordion-block{padding:15px;}
.find-job-block-info .logos-item{width: 100%;}
.top-jobs-item{width:100%!important; margin-bottom: 20px !important;}

.content-info h1 {line-height: 40px; font-size: 34px; padding-left:0px;}
.content-info h1 .hr-line {height: 43px;}
.global-icon{display:none;}

.select-your-job{height:350px;}


}