
<div *ngIf="isLoder" class="loader"> <svg width="80" height="80" viewBox="0 0 38 38" stroke="#fff">
  <g fill="none" fill-rule="evenodd">
    <g transform="translate(1 1)" stroke-width="2">
      <circle stroke-opacity=".2" cx="18" cy="18" r="18"/>
      <path d="M36 18c0-9.94-8.06-18-18-18">
        <animateTransform
                      attributeName="transform"
                      type="rotate"
                      from="0 18 18"
                      to="360 18 18"
                      dur="1s"
                      repeatCount="indefinite"/>
      </path>
    </g>
  </g>
  </svg> </div>
<app-header></app-header>
<div class="mid-content mid-bar">
  <div class="container-fluid"> 
    <!--<div class="sound-icon"><a href="javascript:void(0);"><img src="assets/images/sound-off.png" alt="Sound" title="Sound" /> </a></div>-->
    
    <div class="content-info">
      <div class="row">
        <div class="col-sm-4">
          <h1 class="animate__fadeInRight animate__animated job-title"> Here are the Jobs in
            <select class="selectpicker select-job" (change)="changeCity($event.target.value)">
              <option *ngIf="singleJob && singleJob.length == 0">All</option>
              <option *ngFor="let city of singleJob" [value]="city.id" selected>{{city.city}},{{city.state_code}}</option>
              <option *ngFor="let city of stateData" [value]="city.id">{{city.city}}</option>
            </select>
            I can always refine the seach if you have an industry or a job title in mind? <i class="hr-line"></i> </h1>
          <div class="search-box-location search-job-section">
            <form class="example-form" [formGroup]="searchForm"  (ngSubmit)="findJob()">
              <div class="input-group animate__fadeInLeftBig animate__animated" style="z-index: unset;"> 
                <!--<div class="input-group-btn">
                <div class="btn-group"> <i class="pin"><img src="assets/images/job-icon.png" /></i> </div>
              </div>-->
                
                <input type="text" class="form-control" placeholder="Search job title or keyword" 
              formControlName="keyword"
               (keyup)="onKeyUp($event,'keyword')"
               [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let job of jobSearchData" [value]="job.jobTitle"> {{job.jobTitle}} </mat-option>
                </mat-autocomplete>
                <div class="input-group-btn">
                  <div class="btn-group search-btn">
                    <button type="submit" class="btn">Search</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"><img src="assets/images/sparkle-test.png" class="welcome-img img-responsive"/></div>
            <div class="col-sm-4"></div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="select-your-job animate__fadeInUpBig animate__animated">
            <div *ngIf="jobs && jobs.length == 0">No record found</div>
            <ul>
              <li *ngFor="let job of jobs">
                <h4><strong>Location:</strong> {{job.country}} / {{job.employment}}</h4>
                <h4><strong>Title:</strong> {{job.jobTitle}} </h4>
                <h4><strong>Posted:</strong> Yesterday <span><a  (click)="router.navigate(['jobs/show-job',job.id])"><img src="assets/images/eye.png" /></a> <a href="#"><img src="assets/images/like-icon.png" /></a></span></h4>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-1"> </div>
      </div>
    </div>
  </div>
</div>
<div class="global-icon animate__fadeInBottomRight animate__animated"><img src="assets/images/global.png" alt="Global" title="Global" class="img-responsive" /> </div>
