<app-header></app-header>
<div class="about-warp">
  <div class="about-inner mid-bar about-wapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div class="logo">
            <figure><a (click)="showWelcomePage()"><img src="assets/images/logo.png" alt="Pavi" title="Pavi" class="img-responsive" />
              <h2>Pavi</h2>
              </a></figure>
          </div>
        </div>
        <div class="col-sm-10 animate__fadeInRightBig animate__animated">
          <h2 class="color-yellow">PARTNERS</h2>
          <p>Coming Soon.</p>
          <!-- <p></p>
          <p>
          </p>
          <p></p> -->
        </div>
      </div>
    </div>
  </div>
</div>
