/* .new-login-bg {
    position: inherit !important;
} */

.inputField{   
    border: none;
}

/* .form-control{
    font-size: 15px !important;
} */

/* .signup-warp{margin-bottom: 0px;margin: 0px auto 30px;} */


.mid-bar{position: absolute !important; left: 0; right: 0; top: 15%;}

@media (max-width: 767px){
.mid-bar{top: 10%;}	
.register-btn .btn{font-size:20px; width:250px; padding: 8px 15px 8px;}
.register-btn{margin-top:0px;}
}