.signup-warp {
    max-width: 472px;
    /* margin-bottom: 0px;
    margin: 0px auto 30px; */
    margin-bottom: 30px;
    margin-left: 130px;
}

@media (min-width:768px) and (max-width:1023px){
    .signup-warp {
        margin: 0px auto 30px;
    }
}

@media(max-width:767px){
    .signup-warp {
        margin: 0px auto 30px;
    }
}