<form [formGroup]="step3Group">
  <div class="jobs-form-content-header">
    <div class="jobs-form-content-header-img">
      <img src="../../../../../../assets/images/form-img.png">
    </div>
    Job Application Form
  </div>
  <div class="jobs-form-inputs">
    <div class="jobs-form-item-step-3">
      <label>Job Brif</label>
      <textarea>

    </textarea>
    </div>
    <div class="jobs-form-item-step-3">
      <label>What Does An Office Assistant Do?</label>
      <textarea>

    </textarea>
    </div>
    <div class="jobs-form-2">
      <button type="button" class="jobs-form-item-next" matStepperPrevious><i class="fas fa-angle-left"></i>Back
      </button>
      <button type="button" class="jobs-form-item-next" matStepperNext>
        Publish<i class="fas fa-angle-right"></i>
      </button>
    </div>
  </div>
</form>







