
<aside><div>
    <ul class="nav nav-pills" id="pills-tab">
      <li> <a id="pillis-dashboard" class="active" data-toggle="pill" href="#dashboard"> <img src="assets/images/aside-5.png"> <span>Dashboard</span> </a> </li>
      <li> <a id="pills-create-job" data-toggle="pill" href="#create-job"> <img src="assets/images/aside-7.png"> <span> Create Job</span> </a> </li>
      <li> <a   id="pills-interviews" data-toggle="pill" href="#interviews"> <img src="assets/images/aside-2.png"> <span>Jobs</span> </a> </li>
      <li> <a  id="add-pills-interview-questions" data-toggle="pill" href="#add-interview-questions"> <img src="assets/images/aside-6.png"> <span>Add Interview Questions</span> </a> </li>
      <li> <a  id="pills-interview-questions" data-toggle="pill" href="#interview-questions"> <img src="assets/images/aside-3.png"> <span>Interview Questions</span> </a> </li>
      <li> <a id="pills-jobs-user" data-toggle="pill" href="#jobs-user"> <img src="assets/images/aside-3.png"> <span>Job Candiate</span> </a> </li>
      <li> <a  id="pills-profile" data-toggle="pill" href="#profile"> <img src="assets/images/aside-4.png"> <span>My Profile</span> </a> </li>
    </ul>
  </div>
  <ul>
    <li> <a (click)="auth.logOut()"> <img src="assets/images/logout.png"> <span>Log Out</span> </a> </li>
  </ul>
</aside>