<!-- <app-header></app-header> -->
<div class="about-warp">
  <div class="about-inner mid-bar about-wapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div class="logo">
            <figure><a (click)="showWelcomePage()"><img src="assets/images/logo.png" alt="Pavi" title="Pavi" class="img-responsive" />
              <h2>Pavi</h2>
              </a></figure>
          </div>
        </div>
        <div class="col-sm-10">
          <p>PAVI.ai is born at the intersection of recruiting and technology. PAVI.ai is your next generation neurocruiting platform.</p>
          <p>We take a sophisticated approach to both employers and job seekers as we are transforming the way companies find, hire, develop and on-board talent. PAVI.ai cuts costs and eliminates the need for constant scheduling.</p>
          <p>We do this aimed at attracting and aligning top-talent to your organization. PAVI’s core objective is to be ready and reliable using state-of-the-art & industry leading predictive analytics.
          </p>
          <p>Welcome to PAVI.ai your employment neural matrix!</p>
        </div>
      </div>
    </div>
  </div>
</div>