<div class="about-warp" style="margin-top: 10%;">
  <div class="about-inner">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div class="logo">
            <figure><a (click)="showWelcomePage()"><img src="assets/images/logo.png" alt="Pavi" title="Pavi" class="img-responsive" />
              <h2>Pavi</h2>
              </a></figure>
          </div>
        </div>
        <div class="col-sm-10">
          <p>Born at the intersection of recruiting and technology, PAVI is a predictive artificial video intelligence platform that enables companies to streamline the hiring process while accelerating accurate data driven decision making. Incorporating ethical AI and Machine Learning, concentrating on data protection, security, and taking a customized approach to both employers and job seekers we are transforming the way companies find, hire, develop and on-board talent. Providing augmented data with an unbiased approach PAVI evaluates candidates efficiently while reducing the time-to-hire, creating a positive candidate experience, further branding your company in the marketplace, cutting costs and eliminating the need for constant scheduling. Attracting top-talent to your organization doesn’t have to be difficult using the highly scalable and fully integreable PAVI platform.</p>
          
        </div>
      </div>
    </div>
  </div>
</div>