
<div class="bg-images-1">
  <div class="content-warp">
    <div class="content-bg-inner">
     <app-private-user-sidebar></app-private-user-sidebar>
      <div class="right-bar">
        <div class="right-header">
          <div class="row">
            <!-- <div class="col-xs-3 col-sm-1 col-sm-3 hidden-md hidden-lg">
              <div class="nav-tiker"><a (click)="clickEvent()"><img src="assets/images/nav.png" class="nav-tikerimg" /> </a></div>
            </div> -->
            <div class="col-sm-5 col-md-7 col-xs-9 pull-right">
              <ul>
                <li><a >{{authUser.full_name}} &nbsp;&nbsp;|</a></li>
                <li><a (click)="auth.logOut()">Logout</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-5 col-xs-12">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" />
                <div class="input-group-btn">
                  <div class="btn-group">
                    <button type="button" class="btn"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dashboard-right-mid">
          <div class="title-warp">
            <h2>Dashboard <span>{{today | date:'longDate'}}</span></h2>
          </div>
          <div  id="home">
            <div class="dashboard-list-view">
              <div class="row">
                <div class="col-sm-3 col-xs-6">
                  <div class="dashboard-grid-info">
                    <h4 style="color:rgb(222, 29, 240)">55</h4>
                    <p>save jobs</p>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <div class="dashboard-grid-info">
                    <h4 style="color:#6e8cd7">255</h4>
                    <p>applicants</p>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <div class="dashboard-grid-info">
                    <h4 style="color:#29b6f6">45</h4>
                    <p>interviews completed</p>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <div class="dashboard-grid-info">
                    <h4 style="color:#c5c5c5">0</h4>
                    <p> interviews been review</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="dashboard-list-view">
              <div class="row">
                <!-- <div class="col-sm-3 col-xs-6">
                  <div class="dashboard-grid-info">
                    <h4 style="color:#c5c5c5;">0</h4>
                    <p>moving to a final interview</p>
                  </div>
                </div> -->
                <!-- <div class="col-sm-3 col-xs-6">
                  <div class="dashboard-grid-info">
                    <h4 style="color:#c5c5c5;">0</h4>
                    <p>Days the jobs have been open</p>
                  </div>
                </div> -->
                <!-- <div class="col-sm-3 col-xs-6">
                  <div class="dashboard-grid-info">
                    <h4 style="color:#c5c5c5;">0</h4>
                    <p>pending offers</p>
                  </div>
                </div> -->
                <div class="col-sm-3 col-xs-6">
                  <div class="dashboard-grid-info">
                    <h4 style="color:#c5c5c5;">0</h4>
                    <p>accepted offers</p>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
     
        </div>
      </div>
    </div>
  </div>
  <footer>© PAVI AI ALL RIGHT RESERVED 2020</footer>
</div>
