
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
@import url('../css/animate.min.css');


@font-face {font-family: "Montserrat Ultra Light";
    src: url("../fonts/9d31c906a6cc6064bbe7d33d51058317.eot"); /* IE9*/
    src: url("../fonts/9d31c906a6cc6064bbe7d33d51058317.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/9d31c906a6cc6064bbe7d33d51058317.woff2") format("woff2"), /* chrome firefox */
    url("../fonts/t/9d31c906a6cc6064bbe7d33d51058317.woff") format("woff"), /* chrome firefox */
    url("../fonts/9d31c906a6cc6064bbe7d33d51058317.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("../fonts/9d31c906a6cc6064bbe7d33d51058317.svg#Montserrat Ultra Light") format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: 'ROCKETWILDNESS';
    src: url('../fonts/ROCKETWILDNESS.woff2') format('woff2'),
        url('../fonts/ROCKETWILDNESS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ROCKETWILDNESS';
    src: url('../fonts/ROCKETWILDNESS.woff2') format('woff2'),
        url('../fonts/ROCKETWILDNESS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


a, a:hover, a:focus{text-decoration:none;}
.bg-images-1{background:url(../images/bg-images-1.jpg) no-repeat center fixed; height:100%; width:100%; font-family: "Montserrat Ultra Light"; background-size:cover; }
.logo{text-align:center; }
.logo figure{max-width:220px; margin:8% auto 0px; text-align:center;}

header{width:100%; display:inline-block; padding: 30px;}
.nav-header-in{padding: 30px; width:100%; display:inline-block;}
.navicon-inner{padding-top:60px;}
.nav-header-in .logo-inner img{opacity:0.4;}
.logo-inner{float:left;}
.logo-inner img{max-width:56px; display:inline-block;}
.logo-inner a{display:block;}
.logo-inner a span{color:#fff; font-family: 'ROCKETWILDNESS'; font-size:22px; position: relative; top: 9px; margin-left:5px;}
.logo h2{font-size:100px; font-family: 'ROCKETWILDNESS'; color:#fff; margin:0px;}
.nav-menu{float:right; padding-top: 22px;}
.content-info{padding-top:60px;}
.content-info .welcome-img{margin-right:30px;}
.content-info h1{font-family: "Montserrat Ultra Light"; padding-left: 10px; margin: 0; color:#fff; font-size:60px;position:relative; display:inline-block; line-height:78px;}
.content-info h1 .hr-line{height:85px; width:1px; background:#fff; display:inline-block; position:absolute; margin-left: 5px;}
.sound-icon{position:absolute; bottom:20px; right:30px;}

.navicon{position:fixed; top:0px; bottom:0px; width:100%; background:url(../images/bg-images-1.jpg) no-repeat center fixed; right: 0; z-index:12; transform:translate(100%,0px); transition:all ease-in-out 0.3s;}
.nav-show .navicon{transform:translate(0%,0px); transition:all ease-in-out 0.3s;}
.navicon ul {padding:0px 0px 0px; margin:0px;}
.navicon ul li {list-style:none;}
.navicon ul li a{display:block; color:#5c6175; font-family: "Montserrat Ultra Light"; text-decoration:none; font-size:60px;padding:6px 50px; transition:all ease-in-out 0.3s; position:relative;}
.navicon ul li.active a, .navicon ul li:hover a{color:#fff; transition:all ease-in-out 0.3s;}
.close-menu{width:30px; height:30px; cursor: pointer; margin:0px; float:right; margin-top:12px; fill: #18ffff; text-align: center; padding-top: 8px;}

.login:before{background:url(../images/key.png) no-repeat left; height:18px; width:23px; content:""; display:block; position: absolute; left: 5px;  background-position: 0px 4px;top: 36px;}
.login:before:hover{background-position: 0px -4px;}

.about:before{background:url(../images/about.png) no-repeat left; height:18px; width:23px; content:""; display:block; position: absolute; left: 5px;  background-position: 0px 0px;top: 39px;}

.contact:before{background:url(../images/email.png) no-repeat left; height:18px; width:23px; content:""; display:block; position: absolute; left: 5px;  background-position: 0px 3px; top: 39px; transition:all ease-in-out 0.3s;}

.navicon ul li:hover a.contact:before{background-position: 0px -14px;}
.navicon ul li:hover a.about:before{background-position: 0px -18px;}


/****radio Btn start*****/
.parent_question{padding:30px 0px 0px 0px; list-style:none;}
.parent_question li { position: relative;}
.parent_question li input[type=radio] {position: absolute; visibility: hidden;}
.parent_question li label {color: #3d445a; font-size: 52px; padding-left:10px; padding-bottom:30px; -webkit-transition: all 0.25s linear; line-height: 52px; font-weight:normal; margin: 0; cursor:pointer;}
.parent_question li label ~ span{font-size:24px; color:#99a0c0; padding-left: 25px;}
.parent_question li .check { position: relative; height: 18px; width: 18px; top: 6px; z-index: 5; transition: border .25s linear; -webkit-transition: border .25s linear; float:left;}
.parent_question li .check:before {display: block;	position: absolute;	content: ''; height: 15px;	width: 15px; transition: background 0.25s linear; -webkit-transition: background 0.25s linear;}
input[type=radio]:checked ~ .check:before {background: url(../images/redio-check.png) no-repeat;}
input[type=radio]:checked ~ label {color: #fff;}
/****radio Btn End*****/

/****radio Genral start*****/
.parent_question-genral{padding:0px;margin:0px; list-style:none; padding-left: 30px; height: 47px;}
.parent_question-genral li { position: relative; display:inline-block; padding-right:20px;}
.parent_question-genral li input[type=radio] {position: absolute; visibility: hidden;}
.parent_question-genral li label {position: relative; color: #323e48; font-weight:500; font-size: 14.58px; padding: 6px 0px 5px 30px;	margin: 0px auto; z-index: 6; cursor: pointer; -webkit-transition: all 0.25s linear; display: inline-block;	line-height: 22px;}
.parent_question-genral li .check { display: block; position: absolute; border: 2px solid #999999;border-radius: 100%; height: 22px; width: 22px; top: 6px; z-index: 5; transition: border .25s linear; -webkit-transition: border .25s linear;}
.parent_question-genral li .check:before {display: block;	position: absolute;	content: ''; border-radius: 100%; height: 10px;	width: 10px; top: 4px; left: 4px; margin: auto;	transition: background 0.25s linear; -webkit-transition: background 0.25s linear;}
.parent_question-genral input[type=radio]:checked ~ .check { border: 2px solid #0064d1}
.parent_question-genral input[type=radio]:checked ~ .check:before { background: #0064d1}
.parent_question-genral input[type=radio]:checked ~ label {color: #0064d1;}
/****radio Genral Btn End*****/

/****checkbox start*****/
.form-group{display:inline-block; width:100%;}
.private-user-body .form-group .terms-account label {padding-left: 10px; font-size: 14.58px; font-weight:500; color: #323e48; }
.checkbox input {width: auto; opacity: 0.00000001; position: absolute; left: 0;}
.checkbox {	margin-top: 0rem; margin-bottom: 0rem; padding: 0px 0px 0px 15px; float: left; position: relative; background:#fff;}
.checkbox .helper {	color: rgba(0,0,0,0.5);	position: absolute;	top: 0px; left: 0; width: 16px;	height: 16px; z-index: 0; border: 2px solid #c4c4c4; border-radius: 0.0625rem; -webkit-transition: border-color 0.28s ease; transition: border-color 0.28s ease;}
.checkbox .helper::before, .checkbox .helper::after {position: absolute; height: 0; background-color: #0064d1; display: block; -webkit-transform-origin: left top; transform-origin: left top;	border-radius: 0.25rem;	content: ''; -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s; transition: opacity 0.28s ease, height 0s linear 0.28s; opacity: 0;}
.checkbox .helper::before {top: 1rem; left: 0.68rem;-webkit-transform: rotate(-135deg);	transform: rotate(-135deg);}
.checkbox .helper::after {top: 0.5rem;	left: 0.1rem;width: 3px; -webkit-transform: rotate(-45deg);	transform: rotate(-45deg);}
.checkbox label:hover .helper {	color: #ff5a00;}
.checkbox input:checked ~ .helper {	color: #0064d1;	border: 2px solid #0064d1;}
.checkbox input:checked ~ .helper::after, .checkbox input:checked ~ .helper::before {opacity: 1; -webkit-transition: height 0.15s ease 0s;	transition: height 0.15s ease 0s;}
.checkbox input:checked ~ .helper::after {height: 0.7rem;}
.checkbox input:checked ~ .helper::before {	height: 1.8rem;	width: 2.5px; -webkit-transition-delay: 0.15s; transition-delay: 0.15s;}

/****checkbox End*****/

.mid-content{position:relative;}
.search-box-location{max-width:606px;}
.search-box-location .form-control{box-shadow:none; height:47px; font-size:28px; border-radius: 0px;}
.form-control::placeholder{color:#d4d4d5;}
.search-box-location .form-control:focus{box-shadow:none; border-color:#fff;}
.search-box-location .input-group-btn:first-child .btn-group{margin-right: 20px;}
.search-box-location p{text-align: right; color: #52586e; font-size: 24px; padding-top: 2px;}
.global-icon{max-width: 200px; position: absolute; right: 0; bottom: -58px;}
.global-icon img{max-width: 100%;}
.search-btn .btn{height: 47px; font-weight:600; background:#99a0bf; color:#fff; font-family: 'Montserrat', sans-serif; padding: 4px 25px 10px; font-size:28px; border-radius: 0px;}

.select-job{background:none; border:none; color:#edf568;}
.search-job-section{padding-top:30px;}
.search-job-section .input-group{z-index:-1;}
.search-box-location{padding-top: 10px;}
.search-box-location .search-btn .btn{font-size: 26px; padding: 4px 10px 10px;}
.search-box-location .input-group-btn:last-child > .btn-group{margin-left: 2px;}

.select-your-job{background:#e6e7ea; padding: 0px 12px; scrollbar-width: thin; scrollbar-color: #fff #999aa1; height:420px; overflow:auto; margin-top: 15px;}
.select-your-job ul{padding:0px; list-style:none; }
.select-your-job ul li{border-bottom: solid 1px #000819; padding:15px 0px 30px; }
.select-your-job ul li strong{font-family: 'Montserrat', sans-serif; font-weight:700; font-size:20px;}
.select-your-job ul li h4{font-size:22px; margin-bottom: 0px; margin-top: 7px;} 
.select-your-job ul li h4 span{float:right;}
.select-your-job ul li h4 span a + a {margin-left:10px;}


.welcome-info{display:inline-block;}
.welcome-info h1 {overflow: hidden; border-right: 2px solid #fff; white-space: nowrap; margin: 0 auto; letter-spacing: .15em; animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;}

.content-info .job-title{line-height: 60px; font-size: 40px;}
.content-info .job-title .hr-line{height: 60px;}

.private-user{background:rgba(255,255,255,0.50); padding:15px;}

.private-user-info{background:#fff; padding:15px; scrollbar-width: thin; scrollbar-color: #fff #999aa1; height: 500px; overflow: auto;}
.sign-google{background:#0064d1; padding:12px 20px; width:300px; color:#fff; border-radius:6px; font-size:18px; font-weight:600; transition:all ease-in-out 0.4s; display:inline-block;}
.sign-google:hover{transition:all ease-in-out 0.4s; color:#fff; background:#0f4c81;}
.private-title{border-bottom: solid 1px #c6c6c6;}

.private-title{position:relative;}
.and-off{position:absolute; left:0px; right:0px; margin:0px auto; width:40px; height:40px; border-radius:100%; background:#f2f2f2;text-align:center; line-height:40px; display:inline-block; font-weight:400; top:8px;}
.private-title h4{text-align: right; font-family: 'Montserrat', sans-serif; font-weight:600;}

.private-user-body .form-group .form-control{box-shadow:none; border-radius:50px; height:45px; padding:4px 30px; font-weight:500; border-width:2px; font-family: 'Montserrat', sans-serif;}
.private-user-body .form-group .form-control:focus{box-shadow:none; border-color:#0064d1; border-width:2px;}
.private-user-body .form-group label{font-weight:600; font-family: 'Montserrat', sans-serif; padding-left:30px;}
.private-user-head{margin-bottom:20px;}

.private-user-body .form-group select.form-control{-moz-appearance: none; -webkit-appearance: none; cursor: pointer;}
.private-user-body .form-group select ~ i{position:absolute; right:0px; pointer-events: none; right:33px; top:35px; font-size:27px; color:#282828; }

input[type="date"].form-control ~ i{position:absolute; right:33px; top:47%; pointer-events: none; }

.about-warp .private-user-body p{font-size: 16px; line-height: 23px; color: #000; padding-top:5px;}
.about-warp .private-user-body p a{color:#00b5e7; font-family: 'Montserrat', sans-serif; font-weight:500;}
.private-user-body .form-group .btn{background:#fff; border-width:2px; border-color:#0064d1; color:#0064d1; border-radius:50px; padding:12px 10px; font-weight:500; font-family: 'Montserrat', sans-serif; font-size:22px; transition:all ease-in-out 0.4s;}
.private-user-body .form-group .btn:hover{background:#0064d1; color:#fff; transition:all ease-in-out 0.4s;}
.sign-up{padding:50px 0px;}
.sign-up .logo{padding: 110px 0px;}

.private-user-head h2{font-weight:600; color:#0064d1; font-family: 'Montserrat', sans-serif;}
.private-user-head h6{font-size:22px; color:#333; font-weight:400; font-family: 'Montserrat', sans-serif; padding:10px 0px;}

.forgot-password{font-weight:600; font-family: 'Montserrat', sans-serif; text-decoration:underline; font-size:16px;}
.forgot-password:focus, .forgot-password:hover{text-decoration:underline;}

.select-your-job .post-detailview{border-top: solid 1px #999; margin-top:30px; border-bottom: solid 1px #999; padding-bottom:15px; margin-bottom:25px;}
.select-your-job.post-job-info .post-detailview ul li{padding: 6px 0px; border:none; font-size:16px; font-weight:400; font-family: 'Montserrat', sans-serif;}
.select-your-job .post-detailview h3{font-weight:600; font-family: 'Montserrat', sans-serif; color:#666; text-transform:uppercase; font-size:20px;}
.apply-now-btn .apply-btn{background:#fff; border:solid 1px #555; padding:5px 30px; border-radius:4px; font-size:20px; color:#444; font-weight:600; font-family: 'Montserrat', sans-serif; transition:all ease-in-out 0.4s;}
.apply-now-btn .apply-btn:hover{background:#0064d1; border-color:#0064d1; color:#fff; transition:all ease-in-out 0.4s;}
.select-your-job.post-job-info ul li{border-bottom: solid 1px transparent;; padding: 15px 0px 20px;}
.apply-now-btn{text-align:center; width:100%; display:inline-block;}
.apply-arrow-left img{width:50px; position: absolute; left: 90px;}

.closes{width:30px; height:30px;}
.question-record{padding-bottom:20px;}
.question-record h3{font-weight:600; font-family: 'Montserrat', sans-serif; color:#000; font-size:18px; padding:15px 0px; border-bottom: solid 1px #999;}
.question-record h3 a{float:right; color:#000;}
.question-record h3 a i{float: right; margin-left: 8px; width:24px; height:24px;}

.question-record .table-bordered{background:#fff;}
.question-record .table-bordered tr td a{display:block; width:30px;}
.question-record .table-bordered tr td a img{width:30px;}
.question-record .table > thead > tr > th{font-weight:600; font-family: 'Montserrat', sans-serif; color:#000; font-size:14px;}
.question-record .table > tbody > tr > td{vertical-align:middle; font-size:14px; font-weight:400; font-family: 'Montserrat', sans-serif; color:#000; }


@keyframes typing { from { width: 0 } to { width: 100% }}
@keyframes blink-caret { from, to { border-color: transparent} 50% { border-color: #fff;}}


.about-warp{display:table; width:100%;}
.about-inner{display:table-cell; vertical-align:middle;}
.about-warp .logo img{max-width: 150px; margin: 0px auto;}
.about-warp .logo h2{font-size: 60px;}
.about-warp p{color:#fff; font-size:26px; line-height: 34px; margin-bottom: 20px;}

@media(max-width:767px){
header{padding: 15px;}
.content-info{padding-top: 15px;}
.content-info .welcome-img{margin: 0px auto; text-align: center; display: table;}
.content-info h1{line-height: 55px; text-align: center; font-size: 50px;}
.content-info h1 .hr-line{height: 58px;}
.nav-menu{padding-top: 6px;}
.nav-header-in .logo-inner img{opacity: 0.8;}
.nav-header-in{padding:15px;}
.close-menu{margin-top:0px;}
.navicon-inner {padding-top: 15px;}
.navicon-inner img{display:table; margin:0px auto;}
.navicon ul li a{font-size: 53px;}
.parent_question li label{font-size: 45px; padding-bottom: 20px; line-height: 45px;}
.parent_question li label ~ span{font-size: 14px; padding-left: 15px;}
.search-box-location .form-control{font-size: 20px;}
.global-icon{max-width: 80px; right: 0px; bottom: -94px; left: 0; margin: 0px auto;}
.search-box-location p{font-size: 23px;}
.search-btn .btn{padding: 10px 10px 10px; font-size: 18px;}
.select-your-job ul li h4{font-size: 16px;}
.select-your-job ul li strong{font-size: 14px;}
.select-your-job{margin-top: 15px;}
.select-your-job ul li h4 span img{width:18px;}
.paviwelcome{padding:80px 0px;}
}
