

<div *ngIf="isLoder" class="loader"> <svg width="80" height="80" viewBox="0 0 38 38" stroke="#fff">
    <g fill="none" fill-rule="evenodd">
      <g transform="translate(1 1)" stroke-width="2">
        <circle stroke-opacity=".2" cx="18" cy="18" r="18"/>
        <path d="M36 18c0-9.94-8.06-18-18-18">
          <animateTransform
                        attributeName="transform"
                        type="rotate"
                        from="0 18 18"
                        to="360 18 18"
                        dur="1s"
                        repeatCount="indefinite"/>
                </path>
            </g>
        </g>
    </svg> 
</div>


  <div class="bg-images-1">
    <div class="content-warp">
      <div class="content-bg-inner"> 
        <app-company-sidebar></app-company-sidebar>
          
            <div class="right-bar">
              <div class="right-header">
                <div class="row">
                
                  <div class="col-sm-5 col-md-7 col-xs-9 pull-right">
                    <ul>
                      <li><img src="assets/images/man-user.png"></li>
                      <li><a >{{companyData?.name}} &nbsp;&nbsp;|</a></li>
                      <li><a (click)="auth.logOut()">Logout</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-6 col-md-5 col-xs-12">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search" />
                      <div class="input-group-btn">
                        <div class="btn-group">
                          <button type="button" class="btn"><i class="fa fa-search"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  
                </div>
              </div>
            <div class="dashboard-right-mid" id="pills-tabContent">
              <div class="title-warp">
                <h2>Dashboard <span>{{today | date:'longDate'}}</span></h2>
              </div>
  
              <div id="profile">
                <div class="inner-page">
                <mat-tab-group>
                  <mat-tab label="Logo/Cover Image">
                    <div class="row">
                      <div class="col-xl-6 col-md-6">
                        <form [formGroup]="profileImgTextForm">
                        <div class="form-group">
                          <label>Change Logo</label>
                          <input id="profile-image" type="file" (change)="changeProfileImage($event)">
                          <div class="profile-image change-photo-img" [style.backgroundImage]="'url('+profileImage+')'"></div>
                        </div>
                        </form>
                        </div>
  
                        <div class="col-xl-6 col-md-6">
                        <form [formGroup]="coverImgForm">
                          <div class="form-group">
                            <label>Change Cover</label>
                            <input id="cover-image" type="file" (change)="changeCoverImage($event)">
                            <div class="cover-image change-photo-img" [style.backgroundImage]="'url('+coverImage+')'"></div>
                          </div>
                          </form>
                          </div>
  
                      </div>
                    
  
                  </mat-tab>
                <mat-tab label="Company Profile">
                  <form [formGroup]="profileForm" (ngSubmit)="saveProfileDetails()" style="margin-top: 20px;">
                    <div class="row">
                    <div class="col-xl-6 col-md-6">
                      <div class="form-group">
                        <label>Company Name</label>
                        <input class="form-control"  placeholder="Company Name" type="text" formControlName="name"/>
                      </div>
                      <div *ngIf="profileForm.get('name').touched && profileForm.get('name').invalid"class="alert alert-danger">Job required</div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                      <div class="form-group">
                        <label>Company Address</label>
                        <input class="form-control"  placeholder="Company Address" type="text" formControlName="address"/>
                      </div>
                      <div *ngIf="profileForm.get('address').touched && profileForm.get('address').invalid"class="alert alert-danger">Interview Questions is required</div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                      <div class="form-group">
                        <label>Phone</label>
                        <input class="form-control"  placeholder="Company Address" type="text" formControlName="phone"/>
                      </div>
                      <div *ngIf="profileForm.get('phone').touched && profileForm.get('phone').invalid"class="alert alert-danger">Interview Questions is required</div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                      <div class="form-group">
                        <label>Country</label>
                        <select class="form-control" formControlName="country">
                          <option selected disabled [value]="''">Country*</option>
                          <option *ngFor="let country of countries" [value]="country">{{country}}</option>
                        </select>
                      </div>
                      <div *ngIf="profileForm.get('country').touched && profileForm.get('country').invalid"class="alert alert-danger">Interview Questions is required</div>
                    </div>
                  
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary ">Submit</button>
                      </div>
                    </div>
                  </div>
                  </form>
                </mat-tab>
                <mat-tab label="Change Email"> <form [formGroup]="changeEmailForm">
                  <div class="row">
                    <div class="col-xl-6 col-md-6">
                      <div class="form-group">
                    <label>Old Email:</label>
                    <input  class="form-control" placeholder="hello@name.com" formControlName="old_email" (keyup)="compareNewOldEmails()">
                  </div>
                  <mat-error *ngIf="(oldEmail.touched || isSubmitted) && oldEmail.hasError('required')">Old email is required
                  </mat-error>
                  <mat-error *ngIf="oldEmail.hasError('patternInvalid')">E-mail is <strong>invalid</strong>
                  </mat-error>
                </div>
                  
                    <div class="col-xl-6 col-md-6">
                      <div class="form-group">
                    <label>New E-mail Address:</label>
                    <input  class="form-control" placeholder="New E-mail" formControlName="new_email" (keyup)="compareEmails()">
                  </div>
                  <mat-error *ngIf="newEmail.hasError('patternInvalid') && !newOldEmailsMatch">E-mail is <strong>invalid</strong>
                  </mat-error>
                  <mat-error *ngIf="(newEmail.touched || isSubmitted) && newEmail.hasError('required')">New email is required
                  </mat-error>
                  <mat-error *ngIf="newOldEmailsMatch">Old and new emails are the same
                  </mat-error>
                </div>
                  
                  
                    <div class="col-xl-6 col-md-6">
                      <div class="form-group">
                    <label>Confirm New Email:</label>
                    <input  class="form-control" placeholder="Confirm New E-mail" formControlName="confirm_email" (keyup)="compareEmails()">
                  </div>
                  <mat-error *ngIf="confirmEmail.hasError('patternInvalid')">E-mail is <strong>invalid</strong>
                  </mat-error>
                  <mat-error *ngIf="(confirmEmail.touched || isSubmitted) && confirmEmail.hasError('required')">Please confirm the email
                  </mat-error>
                  <mat-error *ngIf="!emailsMatch && !confirmEmail.hasError('required')">Emails don't match
                  </mat-error>
                </div>
              </div> 
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <a class="btn btn-primary" (click)="changeEmail()">Change the email</a>
                    </div>
                  </div>
                  </div>
                  
                </form> </mat-tab>
                <mat-tab label="Change Password"> Change Password </mat-tab>
              </mat-tab-group>
            </div>
              </div>

              </div>
              </div>
                  
      </div>
      </div>
    <footer>© PAVI AI ALL RIGHT RESERVED 2020</footer>
  </div>




