<div class="reset-content">
  <div class="reset-block">
    <p class="reset-text-4">New Password</p>
    <div class="reset-block-2">
      <img src="assets/images/reset.png">
    </div>
    <p class="reset-text-3">Enter New Password which will be used to authorize you from now on.</p>
    <div class="reset-item mb-5">
      <label class="reset-item-label">Password</label>
      <input class="reset-item-input" placeholder="Password*">
    </div>
    <div class="reset-item">
      <label class="reset-item-label">Confirm Password</label>
      <input class="reset-item-input" placeholder="Confirm Password*">
    </div>
    <div class="reset-buttons">
      <a class="reset-buttons-4">Save New Password</a>
    </div>
  </div>
</div>
