<form [formGroup]="positionForm">
  <div class="form-elements resume-items">
    <div class="profile-item">
      <img src="assets/images/hand.svg" class="img-block" />
      <!--<p class="resume-text-1" *ngIf="!editPosition">{{authUser.position}}</p>-->
      <!-- <mat-form-field [hidden]="!editPosition">
        <input matInput formControlName="position" (keyup)="saveOnEnter($event)">
      </mat-form-field> -->
      <input type="file" (change)="saveResume($event)">
      <!-- <button class="btn btn-primary" (click)="changePosition()" *ngIf="!editPosition">Change</button>
      <button class="btn btn-primary" *ngIf="editPosition" (click)="savePosition()">Save</button> -->
    </div>
  </div>
</form>
