<div *ngIf="isLoder" class="loader"> <svg width="80" height="80" viewBox="0 0 38 38" stroke="#fff">
  <g fill="none" fill-rule="evenodd">
    <g transform="translate(1 1)" stroke-width="2">
      <circle stroke-opacity=".2" cx="18" cy="18" r="18"/>
      <path d="M36 18c0-9.94-8.06-18-18-18">
        <animateTransform
                      attributeName="transform"
                      type="rotate"
                      from="0 18 18"
                      to="360 18 18"
                      dur="1s"
                      repeatCount="indefinite"/>
              </path>
          </g>
      </g>
  </svg> 
</div> 

<form [formGroup]="positionForm">
  <div class="form-elements resume-items">
    <div class="profile-item">
      <img src="assets/images/hand.svg" class="img-block" />
      <!--<p class="resume-text-1" *ngIf="!editPosition">{{authUser.position}}</p>-->
      <!-- <mat-form-field [hidden]="!editPosition">
        <input matInput formControlName="position" (keyup)="saveOnEnter($event)">
      </mat-form-field> -->
      <input type="file" (change)="saveResume($event)">
      <!-- <button class="btn btn-primary" (click)="changePosition()" *ngIf="!editPosition">Change</button>
      <button class="btn btn-primary" *ngIf="editPosition" (click)="savePosition()">Save</button> -->
    </div>
  </div>
</form>
