<form [formGroup]="positionForm">
  <div class="form-elements resume-items">
    <div class="profile-item">
      <img src="assets/images/hand.svg">
      <p class="resume-text-1" *ngIf="!editPosition">{{authUser.position}}</p>
      <mat-form-field [hidden]="!editPosition">
        <input matInput formControlName="position" (keyup)="saveOnEnter($event)">
      </mat-form-field>
      <a class="resume-change-btn" (click)="changePosition()" *ngIf="!editPosition">Change</a>
      <a class="resume-change-btn" *ngIf="editPosition" (click)="savePosition()">Save</a>
    </div>
  </div>
</form>
