
<div class="reset-content">
  <div class="reset-block">
    <p class="reset-text-1">Enter Receive Code</p>
    <div class="reset-block-2">
      <img class="receive-code-img" src="assets/images/code-img.svg">
    </div>
    <div class="reset-item mb-5 reset-item-code">
      <input class="reset-item-input" placeholder="000-000-0000">
      <div class="reset-text-10"><img src="assets/images/undo.png">Resend Code</div>
    </div>
    <div class="reset-buttons">
      <a class="reset-buttons-4">Confirm</a>
    </div>
  </div>
</div>
