<form [formGroup]="accountInfo">
  <ng-template matStepLabel>Account info</ng-template>


  <div class="col-sm-12">
    <div class="form-group">
        <!-- <label class="logos-item-label">First Name</label> -->
        <input formControlName="first_name" placeholder="First Name*" class="logos-item-input">
        <mat-error *ngIf="isSubmitted && firstName.hasError('required')">First name is
          <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="firstName.hasError('patternInvalid')">First name has <strong>incorrect format</strong>
        </mat-error>
      </div>
  </div>
  <div class="col-sm-12">
    <div class="form-group">
        <!-- <label class="logos-item-label">Last Name</label> -->
        <input formControlName="last_name" placeholder="Last Name*" class="logos-item-input">
        <mat-error *ngIf="isSubmitted && lastName.hasError('required')">Last name is
          <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="lastName.hasError('patternInvalid')">Last name has <strong>incorrect format</strong>
        </mat-error>
      </div>
  </div>
      


      
  <!-- <div class="col-sm-12">
    <div class="form-group">
        <div class="gender">
          <div class="row">
          <div  class="col-sm-6">
            <input type="radio" name="gender" checked [value]="'male'" id="male" formControlName="gender">
            <label for="male">Male</label>
          </div>
          <div  class="col-sm-6">
            <input type="radio" name="gender" [value]="'female'" id="female" formControlName="gender">
            <label for="female">Female</label><br>
          </div>
        </div>
        </div>  
        <mat-error *ngIf="isSubmitted && gender.hasError('required')">Gender is <strong>required</strong>
        </mat-error>
      </div>
  </div> -->
  <div class="col-sm-12">
    <div class="form-group">
        <!-- <label class="logos-item-label">Password</label> -->
        <input type="password" formControlName="password" placeholder="Password*" class="logos-item-input">
        <mat-error *ngIf="isSubmitted && pass.hasError('required')">Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="pass.hasError('patternInvalid')">No spaces allowed for password</mat-error>
      </div>
  </div>

  <div class="col-sm-12">
  <div class="row">
    <div class="col-sm-6 col-lg-6">
      <div class="register-btn">
        <button class="btn" matStepperPrevious><i class="fa fa-chevron-left" aria-hidden="true"></i>Previous</button>
      </div>
    </div>
    <div class="col-sm-6 col-lg-6">
      <div class="register-btn">
        <button class="btn" matStepperNext (click)="isSubmitted = true">Next<i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  </div>
</form>
