.logos-item-input{
    border-radius: 0px !important;
    height: 47px;
    font-size: 24px;
    box-shadow: none;
    padding-left: 10px;
}
.login-btn{
    border-radius: 5px;
}

.reset-btn{
    border-radius: 5px;
}
.register-btn .btn{
    width:100%;
}
