
<div class="bg-images-1">
  <div class="content-warp">
    <div class="content-bg-inner">
     <app-private-user-sidebar></app-private-user-sidebar>
      <div class="right-bar">
        <div class="right-header">
          <div class="row">
            <div class="col-xs-3 hidden-sm hidden-md hidden-lg">
              <div class="nav-tiker"><a (click)="clickEvent()"><img src="assets/images/nav.png" class="nav-tikerimg" /> </a></div>
            </div>
            <div class="col-sm-7 col-xs-9 pull-right">
              <ul>
                <li><a >{{authUser.full_name}} &nbsp;&nbsp;|</a></li>
                <li><a (click)="auth.logOut()">Logout</a></li>
              </ul>
            </div>
            <div class="col-sm-5 col-xs-12">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" />
                <div class="input-group-btn">
                  <div class="btn-group">
                    <button type="button" class="btn"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dashboard-right-mid">
          <div class="title-warp">
            <h2>Dashboard <span>{{today | date:'longDate'}}</span></h2>
          </div>
          
          <div  id="profile">
            <div class="inner-page"> 
            
              <mat-horizontal-stepper [linear]="isLinear" #stepper [selectedIndex]="currentStep-1" labelPosition="bottom"
                    
                (selectionChange)="stepChanged($event)" style="background: transparent;">
                
                <div class="icon-user-mat">
                <ng-template matStepperIcon="edit" let-index="index"> <i class="fa fa-user" *ngIf="index === 0"></i> <i class="fa fa fa-file " *ngIf="index === 1"></i> <i class="fa fa-file-pdf-o " *ngIf="index === 2"></i> </ng-template>
                <!-- Custom icon with a context variable. -->
                <ng-template matStepperIcon="number" let-index="index"> <i class="fa fa-user " *ngIf="index === 0"></i> <i class="fa fa fa-file " *ngIf="index === 1"></i> <i class="fa fa-file-pdf-o " *ngIf="index === 2"></i> </ng-template>
                <!-- Step 1 -->
                <mat-step label="Step 1">
                  <ng-template matStepLabel>About</ng-template>
                  <app-about-tab></app-about-tab>
                </mat-step>
                <!-- Step 2 -->
                <mat-step label="Step 2">
                  <ng-template matStepLabel>CV/Resume</ng-template>
                  <app-cv-portfolio-tab></app-cv-portfolio-tab>
                </mat-step>
                <!-- Step 3 -->
                <mat-step label="Step 3">
                  <ng-template matStepLabel>Social Medias<br>
                    PDF</ng-template>
                  <app-social-medias-tab></app-social-medias-tab>
                </mat-step>
                </div>
              </mat-horizontal-stepper>
              
              <!-- </mat-tab> --> 
              <!-- </mat-tab-group> --> 
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
  <footer>© PAVI AI ALL RIGHT RESERVED 2020</footer>
</div>
