<div class="reset-content">
  <div class="reset-block">
    <p class="reset-text-1">Reset Password</p>
    <p class="reset-text-2">Choose the versions of Reset Password.</p>
    <div class="reset-header">
      <a class="reset-btn-1"><img src="assets/images/mail.png">White Email Address</a>
      <a class="reset-btn-2"><img src="assets/images/phone.png"></a>
    </div>
    <div class="reset-block-2">
      <img src="assets/images/reset.png">
    </div>
    <p class="reset-text-3">We will send you a password reset link connected to your existing account.</p>
    <div class="reset-item">
      <label class="reset-item-label">Your E-mail</label>
      <input class="reset-item-input" placeholder="Richard_som@gmail.com">
    </div>
    <div class="reset-item reset-phone-hide">
      <label class="reset-item-label">Phone Number</label>
      <input class="reset-item-input" placeholder="Phone Number">
    </div>
    <div class="reset-buttons">
      <a class="reset-buttons-1"><i class="fas fa-chevron-left"></i>Back</a>
      <a class="reset-buttons-2">Reset Password</a>
    </div>
  </div>
</div>
