.loader{background:rgba(0,0,0,0.5); position:fixed; left:0px; right:0px; top:0px; bottom:0px; z-index:9;}
.loader svg{margin: 20% auto; display: table;}
.go-back-to-job-btn{cursor:pointer; transition: 0.3s ease-in-out; border: 1px solid #0265C9;}
.go-back-to-job-btn:hover{background: #0265C9; color: white !important; transition: 0.3s ease-in-out;}

.content-info{padding-top: 10px !important;}
.mid-content {position: relative !important;}

.select-your-job{height:500px;}
.content-info h1{font-size:40px;}

html{height:100%;}
.mid-bar{position: absolute !important; left: 0; right: 0; top: 30%;}


#subscriber {position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 10;}
#publisher { width: 100%; z-index: 100;}
#buttonholder{position: absolute; width: 100%; margin:0px auto; bottom: 30px; left:0px; right:0px; text-align:center; z-index: 200;}


.btn-danger{border-radius: 4px; color: #fff; padding: 10px 15px; font-size: 15px; text-transform: uppercase; font-weight: 600; cursor:pointer;}
.btn-primary{background: #009317; border: solid 2px rgba(255, 255, 255, 0.30); transition:all ease-in-out 0.3s; }
.btn-primary:hover{background:#06a61f; border: solid 2px rgba(255, 255, 255, 0.60); transition:all ease-in-out 0.3s;}

.btn-default{background: #717171; border: solid 2px rgba(255, 255, 255, 0.30); transition:all ease-in-out 0.3s; margin-left: 10px;}
.btn-default:hover{background:#535353; border: solid 2px rgba(255, 255, 255, 0.60); transition:all ease-in-out 0.3s;}

.stop-btn{background: #f90505; border: solid 2px rgba(255,255,255,0.50); transition:all ease-in-out 0.3s;}
.stop-btn:hover{background: #f73131; border: solid 2px rgba(255,255,255,0.90); transition:all ease-in-out 0.3s;}

.OT_publisher {float:left; margin-right: 5px; position: inherit !important;}
.OT_publisher, .OT_subscriber {min-height: 470px;}
strong {color: #09c;}

.select-your-job {margin-top:0px;}

.content-info .job-title .hr-line{height: 44px;}
.content-info .job-title {line-height: 46px;}
.contact_form .form-group .control-label{left:15px;}
.contact_form{padding:15px 0px 0px;}
.interview-warp h5{color:#dee662;}

.select-your-job{width:100%;  margin:20px auto; }
.bg-profile-chat{background:url(../../../assets/images/live-chat-bg.jpg) no-repeat center fixed; height:auto;margin-top: -50px;}
.select-your-job.post-job-info ul li{padding:0px;}
.contact_form .form-group .control-label{font-size: 23px;}

#buttons{margin-top:50px; text-align: center;}
#buttons #start{margin-right:20px;}
#buttons .btn{padding:7px 10px;}
.contact_form .form-group .control-label{position:relative;}
.contact_form .form-group{margin:0px;}

.horizontalAlien{display: inline-block;width: 100%;padding-right: 12%}
.content-info .welcome-img {margin-right: 0px;position: absolute;right: 0;margin-top: 10px;}
.parent_question li label{padding-left: 0px;}
.parent_question li .check{position: absolute;left: -25px;}

@media (max-width: 767px){
.select-your-job {margin-top: 15px;margin-bottom: 13%;}
.bg-profile-chat{height:auto;margin-top: 0px;}
#buttons {margin-top: 30px; margin-bottom: 30px;text-align: center;}
.mid-bar{top:12%;}

.horizontalAlien{display: inline-block;width: 100%;padding-right: 0}
.content-info .welcome-img {position: relative;margin: 0 auto;}
}
#countdown {position: relative; float:right; height: 120px; width: 120px; text-align: center; margin-top: 20px; margin-right: 30px;}
#countdown-number {color: white; display: inline-block;	line-height: 110px; font-size: 30px; font-weight: 600;}
#countdown-number span {font-size: 40px; font-weight: 100;}
#countdown svg {position: absolute; top: 0; right: 0; width: 120px; height: 120px; transform: rotateY(-180deg) rotateZ(-90deg);}
#countdown svg circle {stroke-dasharray: 339px; stroke-dashoffset: 0px; stroke-linecap: round;	stroke-width: 4px; stroke: white; fill: none; }
.micro-icon .buttonschat{padding:0px; margin:0px; list-style:none; margin:0px auto; position:absolute; bottom:0px; left:0px; right:0px;}
.micro-icon{text-align: center;}
.micro-icon .btn{padding:0px; border:none; background:transparent; }
/* .micro-icon .btn + .btn{margin-left:20px;} */
@keyframes countdown {
	from {
	  stroke-dashoffset: 0px;
	}
	to {
	  stroke-dashoffset: 339px;
	}
  }