
<div class="bg-images-1">
<app-header></app-header>
<div class="mid-content mid-bar">
  <div style="display: none;" class="loader"> <svg width="80" height="80" viewBox="0 0 38 38" stroke="#fff">
    <g fill="none" fill-rule="evenodd">
      <g transform="translate(1 1)" stroke-width="2">
        <circle stroke-opacity=".2" cx="18" cy="18" r="18"/>
        <path d="M36 18c0-9.94-8.06-18-18-18">
          <animateTransform
                        attributeName="transform"
                        type="rotate"
                        from="0 18 18"
                        to="360 18 18"
                        dur="1s"
                        repeatCount="indefinite"/>
                </path>
            </g>
        </g>
    </svg>
    </div>   
  <div class="container-fluid">
    
    <!--<div class="global-icon animate__fadeInBottomRight animate__animated"><img src="assets/images/global.png" alt="Global" title="Global" class="img-responsive" /> </div>-->
    <div *ngIf="start" class="content-info interview-warp" >
      <div class="row">
        <div class="col-sm-2"><img src="assets/images/sparkle-test.png" class="welcome-img" /></div>
        <div class="col-sm-9">
          <div class="horizontalAlien">
          <h1 class="animate__fadeInRight animate__animated">You are interviewing for
            <span *ngIf="jobs && jobs.length > 0" class="interviewinput">{{jobs[0].jobTitle}}</span>
            <span id="startText"></span> </h1>
          <h5>Please click start to begin your interview.</h5>
          <ul class="parent_question animate__fadeInLeftBig animate__animated">
            <li>
              <input type="radio" id="cancel" name="radio-btn" />
              <label for="cancel" (click)="router.navigate(['jobs/search-job'])">Cancel</label>
              <div class="check"></div>
            </li>
            <li>
              <input type="radio" id="start" name="radio-btn" checked="" />
              <label *ngIf="questions && questions.length > 0" for="start"><a style=" float:right;cursor:pointer;color:white;"  (click)="gotoLastMinut();">Start</a></label>
              <div class="check"></div>
            </li>
          </ul>
        </div>
      </div>
      </div>
    </div>
    <div *ngIf="lastminute" class="content-info interview-warp interview-company">
      <div class="row">
        <div class="col-sm-2"><img src="assets/images/sparkle-test.png" class="welcome-img" /></div>
        <div class="col-sm-9">
          <div class="horizontalAlien">
          <!-- <h1 class="animate__fadeInRight animate__animated" style="font-size:38px;">Last Minute Checklist <i class="hr-line"></i></h1> -->
          <h1 id='lastMinutText' style="font-size:38px;"></h1>
          <div class="lastminutitem">
            <div class="row">
              <div class="col-sm-3">
                <div class="last-mint-info">
                  <figure> <img src="assets/images/last-mint-icon.png" /> </figure>
                  <h3>Close Tabs</h3>
                  <p>Close all other applications, browsers, etc., to free up resources as much as possible.</p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="last-mint-info">
                  <figure> <img src="assets/images/last-mint-icon2.png" /> </figure>
                  <h3>Headphones</h3>
                  <p>Wear headphones to minimize audio disruption to hearing.</p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="last-mint-info">
                  <figure> <img src="assets/images/last-mint-icon3.png" /> </figure>
                  <h3>Internet</h3>
                  <p>Make sure nothing will disrupt your internet connection bandwidth.</p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="last-mint-info">
                  <figure> <img src="assets/images/last-mint-icon4.png" /> </figure>
                  <h3>Limit Noise</h3>
                  <p>While you’re on air, mute your phone and close the door.</p>
                </div>
              </div>
            </div>
          </div>
          <ul class="parent_question animate__fadeInLeftBig animate__animated">
            <li>
              <input type="radio" id="close" name="radio-btn" />
              <label for="close" (click)="gotoStart();">Back</label>
              <div class="check"></div>
            </li>
            <li>
              <input type="radio" id="continue" name="radio-btn" checked="" />
              <label for="continue" (click)="gotoLastMinutFinal();">Continue</label>
              <div class="check"></div>
            </li>
          </ul>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="lastminutefinal" class="content-info interview-warp audio-test-warp">
      <div class="row">
        <div class="col-sm-2"><img src="assets/images/sparkle-test.png" class="welcome-img" /></div>
        <div class="col-sm-9">
          <div class="horizontalAlien">
          <!-- <h1 class="animate__fadeInRight animate__animated">Test your audio and video <i class="hr-line"></i></h1> -->
          <h1 id='lastMinuteFinalText' ></h1>
          <div class="video-signal-info">
            <div class="row">
              <div class="col-sm-4 col-xs-6">
                <div class="last-mint-info">
                  <figure> <img id="microphone" src="assets/images/micro-1.png" /> </figure>
                  <h3>Microphone</h3>
                </div>
              </div>
              <div class="col-sm-4 hidden-xs">
                <div class="last-mint-info last-mint-arrow">
                  <figure> <img src="assets/images/micro-cricle.png" /> </figure>
                </div>
              </div>
              <div class="col-sm-4 col-xs-6">
                <div class="last-mint-info">
                  <figure> <img id="webcam" src="assets/images/micro-2.png" /> </figure>
                  <h3>Webcam</h3>
                </div>
              </div>
            </div>
          </div>
          <p>We need to test your audio and video signal for calibration purposes only.</p>
          <ul class="parent_question animate__fadeInLeftBig animate__animated">
            <li>
              <input type="radio" id="close" name="radio-btn" />
              <label for="close" (click)="gotoLastMinut()">Back</label>
              <div class="check"></div>
            </li>
            <li>
              <input type="radio" id="continue" name="radio-btn" checked="" />
              <label  for="continue" (click)="checkDevice();">Start the test</label>
              <div class="check"></div>
            </li>
          </ul>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="startTest" class="content-info" style="padding-top: 10px !important;">
      <div class="container">
        <div class="row">
          <!--<div class="col-sm-3">
            <h1 class="animate__fadeInRight animate__animated job-title"> Please press record to record your answer to the question above. <i class="hr-line"></i> </h1>
            <br>
            <div class="row">
              <div class="col-sm-4"></div>
              <div class="col-sm-4"><img src="https://dq84tlhr1cf2j.cloudfront.net/assets/images/sparkle-test.png" class="welcome-img img-responsive"/></div>
              <div class="col-sm-4"></div>
            </div>
          </div>-->
          <div class="col-sm-12">
          <div class="bg-profile-chat">
            <div class="row">
              <div class="col-sm-3 col-xs-6 interview-warp">
                <div class="contact_form">
                  <div class="form-group">
                    <label for="name" class="control-label">Question {{questionNo}} of {{totalQuestion}} </label>
                  </div>
                </div>
                <h5 style="margin-left:15px;">{{questionName}}</h5>
              </div>
              <div class="col-sm-3 col-xs-6 pull-right">
                <div id="countdown">
                  <div id="countdown-number">{{ minutes  | number:'2.0-0'}}<span>:</span>{{seconds | number:'2.0-0'}}</div>
                  <svg>
                  <circle r="54" cx="60" cy="60"></circle>
                  </svg> </div>
              </div>
              <div class="col-sm-6 col-xs-12">
              <div class="select-your-job post-job-info animate__fadeInUpBig animate__animated" style="overflow: hidden !important;background: none !important;padding: 0px !important;">
              <ul>
                <li>
                  <div >
                    <div id="subscriber"></div>
                    <div id="publisher"></div>
                    <div id="buttonholder">
                      
                    </div>
                  </div>
                </li>
              </ul>
            </div>

            <div class="micro-icon">
              <div id="buttons" class="buttonschat">
                <button type="button" id="start" [disabled]="recordingClicked" (click)="startRecordingArchive(questionArrayKey)" title="Start Recording" class="btn"><img src="assets/images/Start-button.png" /></button>
                <button type="button" id="stop" [disabled]="recordingStopClicked" (click)="stopRecordingArchive(questionArrayKey,question_id)" title="Stop Recording" class="btn"><img src="assets/images/Stop-button.png" /></button>
                
                      </div>
                    </div>
                      
              </div>
              
            </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="result" class="content-info interview-warp interview-company">
      <div class="row">
        <div class="col-sm-2"><img src="assets/images/sparkle-test.png" class="welcome-img" /></div>
        <div class="col-sm-9">
          <div class="horizontalAlien">
          <h1 class="animate__fadeInRight animate__animated" style="font-size:38px;">Thank you for interview with {{companyName}}.<i class="hr-line"></i></h1>
          <h5 class="gray" style="color:#3d445a;">Let us know your feedback on your PAVI interview experience.</h5>
          <h6><strong>Note:</strong> You are able to view your responses to each question in your candidate profile. </h6>
          <ul class="parent_question animate__fadeInLeftBig animate__animated">
            <li>
              <input type="radio" id="close" name="radio-btn" />
              <label (click)="gotoSearchPage()" for="close">Close</label>
              <div class="check"></div>
            </li>
            <li>
              <input type="radio" id="continue" name="radio-btn" checked="" />
              <!-- <label for="continue" (click)="gotoSearchPage()">Continue</label> -->
              <label for="continue" (click)="router.navigate(['users/company-interview'])">Continue</label>
              <div class="check"></div>
            </li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<div class="sound-icon"><a href="javascript:void(0);"><img src="assets/images/sound-off.png" alt="Sound" title="Sound" /> </a></div>

<!-- <div id="startText" style="display:none;"></div>  -->

<div class="modal fade in" id="media-device">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Media Device Status</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              audio and video device found
            </div>
          </div>
      </div>
      
    </div>
  </div>
</div>
