.loader{background:rgba(0,0,0,0.5); position:fixed; left:0px; right:0px; top:0px; bottom:0px; z-index:9;}
.loader svg{margin: 20% auto; display: table;}
.go-back-to-job-btn{cursor:pointer; transition: 0.3s ease-in-out; border: 1px solid #0265C9;}
.go-back-to-job-btn:hover{background: #0265C9; color: white !important; transition: 0.3s ease-in-out;}

.content-info{padding-top: 10px !important;}
.mid-content {position: relative !important;}

.select-your-job{height:500px;}

html{height:100%;}
.mid-bar{position: absolute !important; left: 0; right: 0; top: 20%;}

@media (max-width: 767px){
.select-your-job {margin-top: 15px;margin-bottom: 13%;}

}