<div *ngIf="isLoder" class="loader">
  <svg width="80" height="80" viewBox="0 0 38 38" stroke="#fff">
      <g fill="none" fill-rule="evenodd">
          <g transform="translate(1 1)" stroke-width="2">
              <circle stroke-opacity=".2" cx="18" cy="18" r="18"/>
              <path d="M36 18c0-9.94-8.06-18-18-18">
                  <animateTransform
                      attributeName="transform"
                      type="rotate"
                      from="0 18 18"
                      to="360 18 18"
                      dur="1s"
                      repeatCount="indefinite"/>
              </path>
          </g>
      </g>
  </svg>
  </div>
  
  <div class="modal fade in" id="edit-modal-popup-user">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">User Data</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form [formGroup]="userForm" (ngSubmit)="updateUser()">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">First Name:</label>
                  <input type="text" class="form-control" formControlName="first_name">
                  <div *ngIf="userForm.get('first_name').invalid"class="alert alert-danger">First Name is required</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Last Name:</label>
                  <input type="text" class="form-control"  formControlName="last_name">
                  <div *ngIf="userForm.get('last_name').invalid"class="alert alert-danger">Last Name is required</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Email:</label>
                  <input type="text" class="form-control"  formControlName="email" readonly>
                  <div *ngIf="userForm.get('email').invalid" class="alert alert-danger">Email is required</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Status</label>
                  <ul class="radio-box">
                    <li>
                      <input id="radio1" type="radio" name="radioname">
                      <label for="radio1">Yes </label>
                      <div class="check"></div>
                    </li>
                    <li>
                      <input id="radio2" type="radio" name="radioname">
                      <label for="radio2">NO </label>
                      <div class="check"></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Gender</label>
                  <input type="radio" name="gender"  [value]="'male'" id="male" formControlName="gender">
                  Male
                  <input type="radio" name="gender" [value]="'female'" id="female" formControlName="gender">
                  Female </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary ">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade in" id="add-modal-job-catgory">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Job Category</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form [formGroup]="categoryForm" (ngSubmit)="saveJobCategory()">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Job Category:</label>
                  <input type="text" class="form-control" formControlName="category">
                  <div *ngIf="categoryForm.get('category').touched && categoryForm.get('category').invalid" class="alert alert-danger">Job Category is required</div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary ">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade in" id="add-modal-job-terms">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Job Terms</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form [formGroup]="termsForm" (ngSubmit)="saveJobTerms()">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Job Term:</label>
                  <input type="text" class="form-control" formControlName="term">
                  <div *ngIf="termsForm.get('term').touched && termsForm.get('term').invalid" class="alert alert-danger">Job Term is required</div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary ">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade in" id="add-modal-job-specialist">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Job Specialist Level</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form [formGroup]="specialistForm" (ngSubmit)="saveJobSpecialistLevel()">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Job Specialist Level:</label>
                  <input type="text" class="form-control" formControlName="specialist_level">
                  <div *ngIf="specialistForm.get('specialist_level').touched && specialistForm.get('specialist_level').invalid" class="alert alert-danger">Job Specialist Level is required</div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary ">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade in" id="add-modal-country">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Country</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addCountryForm" >
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="country-name" class="col-form-label"> Country Name:</label>
                  <input type="text" class="form-control" formControlName="countryName">
                  <div *ngIf="addCountryForm.get('countryName').touched && addCountryForm.get('countryName').invalid" class="alert alert-danger">Country Name is required</div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary ">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade in" id="edit-modal-popup-company">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Company data</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form [formGroup]="companyForm" (ngSubmit)="updateCompany()">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Company Name:</label>
                  <input type="text" class="form-control" formControlName="name" readonly>
                  <div *ngIf="companyForm.get('name').invalid"class="alert alert-danger">Company Name is required</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Company Address:</label>
                  <input type="text" class="form-control"  formControlName="address">
                  <div *ngIf="companyForm.get('address').invalid"class="alert alert-danger">Company Address is required</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Phone No:</label>
                  <input type="text" class="form-control"  formControlName="phone">
                  <div *ngIf="companyForm.get('phone').invalid"class="alert alert-danger">Phone No is required</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Country:</label>
                  <select class="form-control" formControlName="country">
                    <option selected disabled [value]="''">Country*</option>
                    <option *ngFor="let country of countries" [value]="country">{{country}}</option>
                  </select>
                  <div *ngIf="companyForm.get('country').invalid"class="alert alert-danger">Country is required</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">First Name:</label>
                  <input type="text" class="form-control"  formControlName="first_name">
                  <div *ngIf="companyForm.get('first_name').invalid"class="alert alert-danger">First Name is required</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Last Name:</label>
                  <input type="text" class="form-control"  formControlName="last_name">
                  <div *ngIf="companyForm.get('last_name').invalid"class="alert alert-danger">Last Name is required</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Email:</label>
                  <input type="text" class="form-control"  formControlName="email" readonly>
                  <div *ngIf="companyForm.get('email').invalid"class="alert alert-danger">Email is required</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Status</label>
                  <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitchuser" tabindex="0" checked="" formControlName="status">
                    <label class="onoffswitch-label" for="myonoffswitch"> <span class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span> </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary ">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade in" id="edit-modal-popup-jobCategory">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Job Category</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form [formGroup]="jobCategoryForm" >
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="category-name" class="col-form-label">Job Category Name:</label>
                  <input type="text" class="form-control" formControlName="jobCategoryName">
                  <div *ngIf="jobCategoryForm.get('jobCategoryName').invalid" class="alert alert-danger">Job Category Name is required</div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary ">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade in" id="edit-modal-popup-jobTerm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Job Term</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form [formGroup]="jobTermForm" >
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="term-name" class="col-form-label">Job Term Name:</label>
                  <input type="text" class="form-control" formControlName="jobTermName">
                  <div *ngIf="jobTermForm.get('jobTermName').invalid" class="alert alert-danger">Job Term Name is required</div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary ">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade in" id="edit-modal-popup-jobSpecialty">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Job Specialty Level</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form [formGroup]="jobSpecialtyForm" >
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="specialty-name" class="col-form-label">Job Specialty Level:</label>
                  <input type="text" class="form-control" formControlName="jobSpecialtyName">
                  <div *ngIf="jobSpecialtyForm.get('jobSpecialtyName').invalid" class="alert alert-danger">Job Specialty Level is required</div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary ">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade in" id="edit-modal-popup-country">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Country Name</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form [formGroup]="countryForm" >
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="country-name" class="col-form-label">Country Name:</label>
                  <input type="text" class="form-control" formControlName="countryName">
                  <div *ngIf="countryForm.get('countryName').invalid" class="alert alert-danger">Country Name is required</div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary ">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  


<div class="bg-images-1">
  <app-header></app-header>

  <div class="mid-col-sec-dashbord">
    <div class="mid-content mid-bar">
      <div class="container-fluid">
        
        <!--<div class="global-icon animate__fadeInBottomRight animate__animated"><img src="assets/images/global.png" alt="Global" title="Global" class="img-responsive" /> </div>-->
        <div class="content-info">
          <div class="row rowContent">
            <div class="col-sm-4">
              <h1 class="animate__fadeInRight animate__animated job-title"> Welcome Company. What would you like to do next? <i class="hr-line"></i> </h1>
          
              <select [(ngModel)]="selectedValue" id="pills-tab" class="form-control selectMenu" (change)="selectedV()" >
                <option selected [value]=0>Dashboard Menu</option>
                <option [value]=1>Companies</option>
                <option [value]=2>Users</option>
                <option [value]=3>Job Category</option>
                <option [value]=4>Job Terms</option>
                <option [value]=5>Job Specialist Level</option>
                <option [value]=6>Country List</option>
                <option [value]=7>Add City</option>
                <option [value]=8>My Profile</option>
                <option [value]=9>Log Out</option>
              </select>
              <div class="pavi-them-logo">
            <img src="/assets/images/sparkle-test.png" class="img-responsive" />
            </div>
              </div>

              <div class="toggle-mobile-section" [ngClass]="{'mobile-in':!show}">
                <!-- <div (click)="show = !show" class="bugger-menu-mobile">
                  <h5><img src="assets/images/nav.png" /></h5>
                </div> -->
                <div class="col-sm-8 coltoggle-mobile-section">
                <div class="dashbaord-info-warp animate__fadeInUpBig animate__animated " id="pills-tabContent">
                  
                  <ul *ngIf="home" id="home">
                    <li style="border-left: solid 4px #00cd84">
                    <div class="dashbaord-info">
                    <h5 style="color:#00cd84;">Companies</h5>
                    <span>{{companyCount}}</span>
                    <abbr><img src="/assets/images/dashbaord-user.png" /></abbr>           
                    
                    
                    </div>
                    </li>
                    
                    <li style="border-left: solid 4px #00bccf">
                    <div class="dashbaord-info">
                    <h5 style="color:#00bccf;">Users</h5>
                    <span>{{userCount}}</span>
                    
                    <span class="bar"><i class="bar-inner" style="width:30%; background:#00a4bb; "></i></span>
                    <abbr><img src="/assets/images/dashbaord-job.png" /></abbr>           
                    
                    
                    </div>
                    </li>
                    
                    <li style="border-left: solid 4px #ffd03f">
                    <div class="dashbaord-info">
                    <h5 style="color:#ffd03f;">Jobs</h5>
                    <span>300</span>
                    <abbr><img src="/assets/images/dashbaord-pending.png" /></abbr>           
                    
                    
                    </div>
                    </li>

                    <li style="border-left: solid 4px #ffd03f">
                      <div class="dashbaord-info">
                      <h5 style="color:#ffd03f;">Pending Requests</h5>
                      <span>18</span>
                      <abbr><img src="/assets/images/dashbaord-pending.png" /></abbr>           
                      
                      
                      </div>
                      </li>
                    
                    
                  </ul>

                  <div  *ngIf="viewCompanies" id="create-job">
                    <div *ngIf="!companies">No record found</div>
                    <div *ngIf="companies" class="table-responsive">
                      <mat-form-field>
                        <input
                          matInput
                          (keyup)="applyFilterOne($event.target.value)"
                          placeholder="Search Keyword"
                        />
                      </mat-form-field>
                      <table
                        mat-table
                        matSort
                        [dataSource]="dataSourceOne"
                      
                        class="table table-bordered"
                        style="width: 100%;"
                      >
                        <!--- Note that these columns can be defined in any order.
                                The actual rendered columns are set as a property on the row definition" -->
                    
                        <!-- Position Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef>Company Name</th>
                          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                        </ng-container>
                    
                        <!-- Name Column -->
                        <ng-container matColumnDef="address">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Address</th>
                          <td mat-cell *matCellDef="let element">{{ element.address }}</td>
                        </ng-container>
                    
                        <!-- Weight Column -->
                        <ng-container matColumnDef="country">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
                          <td mat-cell *matCellDef="let element">{{ element.country }}</td>
                        </ng-container>
                    
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="phone">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone No</th>
                          <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
                        </ng-container>
            
                        <ng-container matColumnDef="email">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                          <td mat-cell *matCellDef="let element">{{ element.email}}</td>
                        </ng-container>
      
                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                          <td mat-cell *matCellDef="let element  let i = index;"> <a class="btn" data-toggle="modal" > <i class="fa fa-pencil" (click)="editCompany(i)"></i></a>  
                            <a class="btn red"> <i class="fa fa-trash"></i></a>
                          </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsOne"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsOne"></tr>
                      </table>
                    
                      <mat-paginator
                      #TableOnePaginator="matPaginator"
                      [pageSize]="3"
                      [pageSizeOptions]="[5, 10, 25, 100]"
                    ></mat-paginator>
                    </div>
                  </div>

                  <div *ngIf="viewUsers" id="interviews">
                    <div *ngIf="!users">No record found</div>
                    <div *ngIf="users" class="table-responsive">
                      <mat-form-field>
                        <input
                          matInput
                          (keyup)="applyFilterTwo($event.target.value)"
                          placeholder="Search Keyword"
                        />
                      </mat-form-field>
                      <table
                        mat-table
                        matSort
                        [dataSource]="dataSourceTwo"
                      
                        class="table table-bordered"
                        style="width: 100%;"
                      >
                        <!--- Note that these columns can be defined in any order.
                                The actual rendered columns are set as a property on the row definition" -->
                    
                        <!-- Position Column -->
                        <ng-container matColumnDef="firstName">
                          <th mat-header-cell *matHeaderCellDef>First Name</th>
                          <td mat-cell *matCellDef="let element">{{ element.first_name }}</td>
                        </ng-container>
                    
                        <!-- Name Column -->
                        <ng-container matColumnDef="lastName">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
                          <td mat-cell *matCellDef="let element">{{ element.last_name }}</td>
                        </ng-container>
            
                        <ng-container matColumnDef="email">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                          <td mat-cell *matCellDef="let element">{{ element.email}}</td>
                        </ng-container>

                        <ng-container matColumnDef="gender">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
                          <td mat-cell *matCellDef="let element">{{ element.gender}}</td>
                        </ng-container>
      
                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                          <td mat-cell *matCellDef="let element  let i = index;"> <a class="btn" data-toggle="modal" > <i class="fa fa-pencil" (click)="editUser(i)"></i></a>  
                            <a class="btn red"> <i class="fa fa-trash"></i></a>
                          </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsTwo"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsTwo"></tr>
                      </table>
                    
                      <mat-paginator
                      #TableTwoPaginator="matPaginator"
                      [pageSize]="3"
                      [pageSizeOptions]="[5, 10, 25, 100]"
                    ></mat-paginator>
                    </div>
                  </div>

                  <div *ngIf="jobCategory" id="Job-category">
                    <div *ngIf="categories==undefined || categories.length==0">No record found</div>
                    <div class="row">
                      <div class="col-xl-12 col-md-12 mb-12">
                        <button type="button" class="btn btn-outline-dark float-right" data-toggle="modal" data-target="#add-modal-job-catgory">Add Job Category</button>
                      </div>
                    </div>
                    &nbsp;
                    <div *ngIf="categories!=undefined && categories.length > 0" class="table-responsive">
                      <mat-form-field>
                        <input
                          matInput
                          (keyup)="applyFilterThree($event.target.value)"
                          placeholder="Search Keyword"
                        />
                      </mat-form-field>
                      <table
                        mat-table
                        matSort
                        [dataSource]="dataSourceThree"
                      
                        class="table table-bordered"
                        style="width: 100%;"
                      >
                        <!--- Note that these columns can be defined in any order.
                                The actual rendered columns are set as a property on the row definition" -->
                    
                        <!-- Position Column -->
                        <ng-container matColumnDef="jobCategory">
                          <th mat-header-cell *matHeaderCellDef>Job Category</th>
                          <td mat-cell *matCellDef="let element">{{ element.category }}</td>
                        </ng-container>
                    
                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                          <td mat-cell *matCellDef="let element  let i = index;"> <a class="btn" data-toggle="modal" > <i class="fa fa-pencil" (click)="editJobCategory(i)"></i></a>  
                            <a class="btn red"> <i class="fa fa-trash"></i></a>
                          </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsThree"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsThree"></tr>
                      </table>
                    
                      <mat-paginator
                      #TableTwoPaginator="matPaginator"
                      [pageSize]="3"
                      [pageSizeOptions]="[5, 10, 25, 100]"
                    ></mat-paginator>
                    </div>
                  </div>

                  <div *ngIf="jobTerms" id="Job-terms">
                    <div *ngIf="terms==undefined || terms.length==0">No record found</div>
                    <div class="row">
                      <div class="col-xl-12 col-md-12 mb-12">
                        <button type="button" class="btn btn-outline-dark float-right" data-toggle="modal" data-target="#add-modal-job-terms">Add Job Terms</button>
                      </div>
                    </div>
                    &nbsp;
                    <div *ngIf="terms!=undefined && terms.length > 0" class="table-responsive">
                      <mat-form-field>
                        <input
                          matInput
                          (keyup)="applyFilterFour($event.target.value)"
                          placeholder="Search Keyword"
                        />
                      </mat-form-field>
                      <table
                        mat-table
                        matSort
                        [dataSource]="dataSourceFour"
                      
                        class="table table-bordered"
                        style="width: 100%;"
                      >
                        <!--- Note that these columns can be defined in any order.
                                The actual rendered columns are set as a property on the row definition" -->
                    
                        <!-- Position Column -->
                        <ng-container matColumnDef="jobTerm">
                          <th mat-header-cell *matHeaderCellDef>Job Term</th>
                          <td mat-cell *matCellDef="let element">{{ element.term }}</td>
                        </ng-container>
                    
                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                          <td mat-cell *matCellDef="let element  let i = index;"> <a class="btn" data-toggle="modal" > <i class="fa fa-pencil" (click)="editJobTerm(i)"></i></a>  
                            <a class="btn red"> <i class="fa fa-trash"></i></a>
                          </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsFour"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsFour"></tr>
                      </table>
                    
                      <mat-paginator
                      #TableTwoPaginator="matPaginator"
                      [pageSize]="3"
                      [pageSizeOptions]="[5, 10, 25, 100]"
                    ></mat-paginator>
                    </div>
                  </div>

                  <div *ngIf="jobSpecialistLevel" id="Job-specialist">
                    <div *ngIf="levels==undefined || levels.length==0">No record found</div>
                    <div class="row">
                      <div class="col-xl-12 col-md-12 mb-12">
                        <button type="button" class="btn btn-outline-dark float-right" data-toggle="modal" data-target="#add-modal-job-specialist">Add Job Specialist Level</button>
                      </div>
                    </div>
                    &nbsp;
                    <div *ngIf="levels!=undefined && levels.length > 0" class="table-responsive">
                      <mat-form-field>
                        <input
                          matInput
                          (keyup)="applyFilterFive($event.target.value)"
                          placeholder="Search Keyword"
                        />
                      </mat-form-field>
                      <table
                        mat-table
                        matSort
                        [dataSource]="dataSourceFive"
                      
                        class="table table-bordered"
                        style="width: 100%;"
                      >
                        <!--- Note that these columns can be defined in any order.
                                The actual rendered columns are set as a property on the row definition" -->
                    
                        <!-- Position Column -->
                        <ng-container matColumnDef="jobSpecialty">
                          <th mat-header-cell *matHeaderCellDef>Job Specialist level</th>
                          <td mat-cell *matCellDef="let element">{{ element.specialist_level }}</td>
                        </ng-container>
                    
                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                          <td mat-cell *matCellDef="let element  let i = index;"> <a class="btn" data-toggle="modal" > <i class="fa fa-pencil" (click)="editJobSpecialty(i)"></i></a>  
                            <a class="btn red"> <i class="fa fa-trash"></i></a>
                          </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsFive"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsFive"></tr>
                      </table>
                    
                      <mat-paginator
                      #TableTwoPaginator="matPaginator"
                      [pageSize]="3"
                      [pageSizeOptions]="[5, 10, 25, 100]"
                    ></mat-paginator>
                    </div>
                  </div>

                  <div *ngIf="countryList" id="countries">
                    <div *ngIf="allcountries==undefined || allcountries.length==0">No record found</div>
                    <div class="row">
                      <div class="col-xl-12 col-md-12 mb-12">
                        <button type="button" class="btn btn-outline-dark float-right" data-toggle="modal" data-target="#add-modal-country">Add Country</button>
                      </div>
                    </div>
                    &nbsp;
                    <div *ngIf="allcountries!=undefined && allcountries.length > 0" class="table-responsive">
                      <mat-form-field>
                        <input
                          matInput
                          (keyup)="applyFilterSix($event.target.value)"
                          placeholder="Search Keyword"
                        />
                      </mat-form-field>
                      <table
                        mat-table
                        matSort
                        [dataSource]="dataSourceSix"
                      
                        class="table table-bordered"
                        style="width: 100%;"
                      >
                        <!--- Note that these columns can be defined in any order.
                                The actual rendered columns are set as a property on the row definition" -->
                    
                        <!-- Position Column -->
                        <ng-container matColumnDef="country">
                          <th mat-header-cell *matHeaderCellDef>Country Name</th>
                          <td mat-cell *matCellDef="let element">{{ element.country_name }}</td>
                        </ng-container>
                    
                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                          <td mat-cell *matCellDef="let element  let i = index;"> <a class="btn" data-toggle="modal" > <i class="fa fa-pencil" (click)="editCountry(i)"></i></a>  
                            <a class="btn red"> <i class="fa fa-trash"></i></a>
                          </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsSix"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsSix"></tr>
                      </table>
                    
                      <mat-paginator
                      #TableSixPaginator="matPaginator"
                      [pageSize]="3"
                      [pageSizeOptions]="[5, 10, 25, 100]"
                    ></mat-paginator>
                    </div>
                  </div>

                  <div *ngIf="viewAddCity" id="add-city">
                    <div *ngIf="allcountries && allcountries.length == 0">Add Country First</div>
                    <div *ngIf="allcountries && allcountries.length > 0" class="inner-page">
                      <h2>Add City </h2>
                      <form [formGroup]="cityForm" (ngSubmit)="saveCity()">
                        <div class="row">
                          <div class="col-xl-12 col-md-12">
                            <div class="form-group">
                              <label>Select Job</label>
                              <select class="form-control" formControlName="country_id">
                                <option selected disabled [value]="''">Select Country*</option>
                                <option *ngFor="let country of allcountries" [value]="country.id">{{country.country_name}}</option>
                              </select>
                            </div>
                            <div *ngIf="cityForm.get('country_id').touched && cityForm.get('country_id').invalid"class="alert alert-danger">Country required</div>
                          </div>
                          <div class="col-xl-12 col-md-12">
                            <div class="form-group">
                              <label>City Name</label>
                              <input class="form-control"  placeholder="city name" type="text" formControlName="city"/>
                            </div>
                            <div *ngIf="cityForm.get('city').touched && cityForm.get('city').invalid"class="alert alert-danger">city name is required</div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="form-group">
                              <button type="submit" class="btn btn-primary ">Submit</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>

                  <div *ngIf="myProfile" id="profile">My Profile</div>

                  </div>
                  </div>
              </div>
              <div class="overlay"></div>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
