<form [formGroup]="changePasswordForm">

    <div class="profile-item">
        <label>Old Password:</label>
        <input placeholder="AB********123" formControlName="old_pass" (keyup)="compareNewOldPasswords()">
    </div>
    <mat-error *ngIf="isSubmitted && oldPass.hasError('required')">Old password is required
    </mat-error>
    <mat-error *ngIf="oldPass.hasError('patternInvalid')">Password should not contain <strong>spaces</strong>
    </mat-error>

    <div class="profile-item">
        <label>New password:</label>
        <input placeholder="New Password" formControlName="new_pass" (keyup)="comparePasswords()">
    </div>
    <mat-error *ngIf="newOldPasswordsMatch && !newPass.hasError('patternInvalid') && !newPass.hasError('required')">Old
        and new passwords are the same
    </mat-error>
    <mat-error *ngIf="isSubmitted && newPass.hasError('required')">Old password is required
    </mat-error>
    <mat-error *ngIf="newPass.hasError('patternInvalid')">Password should not contain <strong>spaces</strong>
    </mat-error>

    <div class="profile-item">
        <label>Confirm New Password:</label>
        <input placeholder="Confirm New Password" (keyup)="comparePasswords()"
               formControlName="confirm_password">
    </div>
    <mat-error *ngIf="isSubmitted && confirmPass.hasError('required')">Please confirm the email
    </mat-error>
    <mat-error *ngIf="!passwordsMatch && !confirmPass.hasError('required')">Passwords don't match
    </mat-error>
    <div class="profile-btns">
        <div class="profile-item">
            <a class="change-email-btn-2" (click)="backToMainForm()">Back</a>
        </div>
        <div class="profile-item">
            <a class="change-email-btn-2" (click)="changePassword()">Change password</a>
        </div>
    </div>
</form>
