<form [formGroup]="changePasswordForm">
<div class="row">
    <div class="col-xl-6 col-md-6">
        <div class="form-group">
            <label>Old Password:</label>
            <input class="form-control" placeholder="AB********123" formControlName="old_pass" (keyup)="compareNewOldPasswords()">
        </div>
        <mat-error *ngIf="isSubmitted && oldPass.hasError('required')">Old password is required
        </mat-error>
        <mat-error *ngIf="oldPass.hasError('patternInvalid')">Password should not contain <strong>spaces</strong>
        </mat-error>
    </div>

    <div class="col-xl-6 col-md-6">
        <div class="form-group">
            <label>New password:</label>
            <input class="form-control" placeholder="New Password" formControlName="new_pass" (keyup)="comparePasswords()">
        </div>
        <mat-error *ngIf="newOldPasswordsMatch && !newPass.hasError('patternInvalid') && !newPass.hasError('required')">Old
            and new passwords are the same
        </mat-error>
        <mat-error *ngIf="isSubmitted && newPass.hasError('required')">Old password is required
        </mat-error>
        <mat-error *ngIf="newPass.hasError('patternInvalid')">Password should not contain <strong>spaces</strong>
        </mat-error>
    </div>

    <div class="col-xl-6 col-md-6">
        <div class="form-group">
            <label>Confirm New Password:</label>
            <input class="form-control" placeholder="Confirm New Password" (keyup)="comparePasswords()"
                formControlName="confirm_password">
        </div>
        <mat-error *ngIf="isSubmitted && confirmPass.hasError('required')">Please confirm the email
        </mat-error>
        <mat-error *ngIf="!passwordsMatch && !confirmPass.hasError('required')">Passwords don't match
        </mat-error>
    </div>

</div>
    <div class="profile-btns">
        <div class="col-xl-6 col-md-6">
            <div class="form-group">
                <button class="btn btn-primary" (click)="backToMainForm()">Back</button>
            </div>
        </div>
        <div class="col-xl-6 col-md-6">
            <div class="form-group">
                <button class="btn btn-primary" (click)="changePassword()">Change password</button>
            </div>
        </div>
    </div>
</form>
