<app-header></app-header>
<div class="about-warp">
  <div class="about-inner mid-bar about-wapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-2">
          <div class="logo">
            <figure><a (click)="showWelcomePage()"><img src="assets/images/logo.png" alt="Pavi" title="Pavi" class="img-responsive" />
              <h2>Pavi</h2>
              </a></figure>
          </div>
        </div>
        <div class="col-sm-9 col-md-10 animate__fadeInRightBig animate__animated">
          <h2 class="color-yellow">How Pavi Works</h2>
          <p>The PAVI experience gives users a unique experience that
            provides insight and transparency around the interview
            process, the ability to get real-time feedback on presentation,
            demeanor, communication and expression allowing
            opportunity to grow their skill-set when it comes to presenting
            to others.</p>
            <p>The PAVI platform offers employers a tremendous opportunity
            to enhance their candidates job seeking experience while
            assessing the candidate on a level playing field. </p>
          
            
            <p><span class="steps">Step 1-</span>
            You will receive an invitation to create a user
            account. Simply follow the steps to create the account and
            login to the PAVI platform.</p>
            
            <p><span class="steps">Step 2-</span>
              Once logged in, you will be able to view
              the job you have been invited to apply to. Click “get started” to
              begin the interview process. 
            </p>
            
            <p><span class="steps">Step 3-</span>&nbsp;<img src="assets/images/chat-2.png" title="Start Button">
              
              <br/><br/>
              You will be prompted with questions that are specific to the job
              you are interviewing for. Please watch the timer, each
              question has a set time for your response!
            </p>
            
            <p><span class="steps">Step 4-</span>&nbsp;<img src="assets/images/chat-3.png" title="Stop Button">
              
              <br/><br/>
              That’s it! You’re done and you’re welcome to send us
              feedback on the process via the link on the page.
            </p>
            <p>
              Employers! Once you login to your personal dashboard, you
              will see all your uniquely qualified "PAVI Picks" that are the
              right fit for your organization.
            </p>
            <p>
              PAVI.ai includes some amazing features, so join now and be a
              part of the global PAVI.ai experience.
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
