<app-header></app-header>
<div class="about-warp">
  <div class="about-inner mid-bar about-wapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div class="logo">
            <figure><a (click)="showWelcomePage()"><img src="assets/images/logo.png" alt="Pavi" title="Pavi" class="img-responsive" />
              <h2>Pavi</h2>
              </a></figure>
          </div>
        </div>
        <div class="col-sm-10 animate__fadeInRightBig animate__animated">
          <h2 class="color-yellow">How Pavi Works</h2>
          <p>The PAVI.ai experience gives candidates a unique experience too interviewing for that next big job, we also offer Employers a tremendous opportunity to enhance their candidates job seeking experience.  </p>
          <p>JobSeekers! Simply search the opportunity list and once you find that dream job, sign up and apply then enjoy our unique interactive interview experience.  </p>
          <p>Employers! Just sign up, add a unique opportunity then let PAVI.ai do the rest. Once you login to your personal dashboard, you will see all your uniquely qualified "PAVI Picks" that are the right fit for your organization.  
          </p>
          <p>PAVI.ai includes some amazing features, so join now and be a part of the global PAVI.ai experience. </p>
        </div>
      </div>
    </div>
  </div>
</div>
