<form [formGroup]="changeEmailForm">
  <div class="row">
    <div class="col-xl-6 col-md-6">
      <div class="form-group">
        <label>Old Email:</label>
        <input class="form-control" placeholder="hello@name.com" formControlName="old_email" (keyup)="compareNewOldEmails()">
      </div>
      <mat-error *ngIf="(oldEmail.touched || isSubmitted) && oldEmail.hasError('required')">Old email is required
      </mat-error>
      <mat-error *ngIf="oldEmail.hasError('patternInvalid')">E-mail is <strong>invalid</strong>
      </mat-error>
    </div>

    <div class="col-xl-6 col-md-6">
      <div class="form-group">
        <label>New E-mail Address:</label>
        <input class="form-control" placeholder="New E-mail" formControlName="new_email" (keyup)="compareEmails()">
      </div>
      <mat-error *ngIf="newEmail.hasError('patternInvalid') && !newOldEmailsMatch">E-mail is <strong>invalid</strong>
      </mat-error>
      <mat-error *ngIf="(newEmail.touched || isSubmitted) && newEmail.hasError('required')">New email is required
      </mat-error>
      <mat-error *ngIf="newOldEmailsMatch">Old and new emails are the same
      </mat-error>
    </div>

    <div class="col-xl-6 col-md-6">
      <div class="form-group">
        <label>Confirm New Email:</label>
        <input class="form-control" placeholder="Confirm New E-mail" formControlName="confirm_email" (keyup)="compareEmails()">
      </div>
      <mat-error *ngIf="confirmEmail.hasError('patternInvalid')">E-mail is <strong>invalid</strong>
      </mat-error>
      <mat-error *ngIf="(confirmEmail.touched || isSubmitted) && confirmEmail.hasError('required')">Please confirm the email
      </mat-error>
      <mat-error *ngIf="!emailsMatch && !confirmEmail.hasError('required')">Emails don't match
      </mat-error>
    </div>
  </div>
    <div class="profile-btns">
      <div class="col-xl-6 col-md-6">
        <div class="form-group">
          <button class="btn btn-primary" (click)="backToMainForm()">Back</button>
        </div>
      </div>
      <div class="col-xl-6 col-md-6">
        <div class="form-group">
          <button class="btn btn-primary" (click)="changeEmail()">Change the email</button>
        </div>
      </div>
    </div>

</form>
