<app-header></app-header>
<div class="about-warp">
  <div class="about-inner mid-bar about-wapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-2">
          <div class="logo">
            <figure><a (click)="showWelcomePage()"><img src="assets/images/logo.png" alt="Pavi" title="Pavi" class="img-responsive" />
              <h2>Pavi</h2>
              </a></figure>
          </div>
        </div>
        <div class="col-sm-9 col-md-10 animate__fadeInRightBig animate__animated">
          <h2 class="color-yellow">PAVI LLC Privacy Policy</h2>
         <div class="about-info">
          
            <p>PAVI takes your privacy very seriously. We appreciate that you are trusting us with personal information, or other data which can be reasonably linked to such information by PAVI. This Privacy Policy, therefore, is meant to help you understand what data we collect, why we collect it, and what we do with it. There are many different ways you can use our services to locate the right job or candidate. When you share information with us, we can make those services even better. As you use our services, we want you to feel safe and secure  on how we are using your information by being transparent on the ways in which we protect your privacy. </p>
            <h4><strong>Our Privacy Policy explains: </strong></h4>

            <ul style="list-style:decimal; color: #fff; font-size: 22px; padding: 10px 0px;">
            <li>What information we collect and why we collect it.</li> 
            <li>How we use that information.</li>
            <li>The choices we offer on how to access and update information.</li>

            </ul>

            <p>Your privacy matters to PAVI so whether you are new to PAVI or a long-time user, please do take the time to get to know our practices – and if you have any questions contact us at <a href="#">privacy@pavi.ai</a>.</p>

            <h4 style="text-decoration:underline;"><strong>What Information Do We Collect </strong></h4>

            <p>We collect information to provide better services to all of our users, ranging from basic information such as your name and email address, to more complex information, such as your resumes and the responses you provide to our interview questions. We collect information in the following ways:</p>

            <ul style="list-style: decimal; color: #fff; font-size: 22px; padding: 10px 0px;">
            <li><strong>Information You Provide To Us.</strong> To use our services, you must first sign up for a PAVI Account. When you do, we ask you for some basic personal information, i.e. first and last name, email, contact number. We also ask for job related information, i.e. your resume (which may include your address and phone number), the type of work for which you are looking, when you looking for work, the type of roles for which you are looking, location preferences, employment eligibility. <br /><br />

            Once you have your PAVI Account, you have the opportunity to provide us with additional information like your responses to various interview questions, both written and pre-recorded video. 
            </li>
            <br />
            <li><strong>Information We Receive From Third Parties.</strong> Because PAVI seeks to match candidates with a variety of successful companies, we also may collect information from companies, which you have provided to those companies This information includes: 
            <br />
            <br />
            <ul style="list-style: lower-alpha; color: #fff; font-size: 22px; padding: 10px 0px;">
            <li><strong>Device Information.</strong> We collect device-specific information, such as the browser and browser version you are using, your geographic location (only with your permission), the referring URL you are using to contact PAVI, last seen, operating system, screen size and IP address. </li>
            <br />

            <li><strong>Log Information.</strong> When you use our services or view content provided by PAVI, we automatically collect and store information in server logs. This includes details of how you used our service, IP address, device event information, cookies that may uniquely identify your browser or your PAVI Account.  </li>

            <br />

            <li><strong>Social Network Information.</strong> This refers to any information that is part of your profile on a third party social network (i.e Facebook) and that you allow the third party social network to share with us or that you post publicly. Examples may include your basic account information (e.g., name, email address, profile picture, gender, birthday, current city, user ID, list of friends, etc.) and any other additional information or activities that you permit the third party social network to share with application developers. </li>

            <br />

            <li><strong>Location Information.</strong> With your consent when you use PAVI services, we may collect and process information about your actual location (e.g., IP address and GPS). You can choose to provide this information or do so via your web browser setting. </li>

            <br />

            <li><strong>Unique Application Numbers.</strong> Certain applications, such as an operating system or browser version, include a unique application number.</li>

            <br />

            <li><strong>Local Storage.</strong> We collect and store unique identifiers on a user’s machine, which we associate back to the user’s personal information on our server. No explicit personal information will be maintained directly on the user’s machine. </li>

            <br />

            <li><strong>Website usage information.</strong> This includes information about how you use and navigate our websites, including which links you click on, which pages or content you view, and other similar information or statistics about your interactions with our websites. This information is captured using automated technologies such as cookies and web beacons, and may be collected regardless of the device you are using (computer, smartphone, tablet, etc.). This information may also be collected using third party analytics services (i.e. Google Analytics) that collect data in aggregate (such as number of visits to a particular page or the amount of time spent on a site). We may also use these technologies, such as web beacons, to capture information about how users respond to certain email campaigns. Website usage information may be associated with your personal contact information.</li>

            <br />

            <li><strong>Cookies & Similar Technologies.</strong> We use various technologies to collect and store information when you visit PAVI, and this may include using cookies or similar technologies to identify your browser or device. We also use these technologies to collect and store information for session management and analytics.</li>


            </ul>


            </li>


            </ul>

            <h4 style="text-decoration:underline;"><strong>How We Use The Information We Collect </strong></h4>

            <p>We use the information we collect to provide, maintain, protect and improve services. We may also use this information to develop new services, to protect PAVI and its users, or to offer tailored content to you. More specifically, the information we collect is primarily used to do the following:</p>

            <ul style="list-style: decimal; color: #fff; font-size: 22px; padding: 10px 0px;">
            <li>Create candidate’s profile, which candidate can use to view his/her own information, the status of their interactions with companies and to provide companies with additional information; </li> 
            <li>Reach out to individuals related to job search.</li>
            <li>We may use the information for targeted communications related to job search </li>
            <li>Consent. We will share personal information with companies, organizations or individuals outside of PAVI when we have your consent to do so. We require opt-in consent for the sharing of any sensitive personal information. </li>
            <li>Business Transfer, Mergers and Acquisitions. We may also share data with third parties to whom we choose to sell, transfer, or merge parts of our business or our assets. Alternatively, we may seek to acquire other businesses or merge with them. If a change happens to our business, then the new owners may use your personal information in the same way as set out in this Privacy Policy.</li>
            </ul>

            <h4><strong>How You Can Access and Update Your Information. </strong></h4>

            <p>We encrypt many of our services using Secure Sockets Layer (“SSL”), which provides a more secure and private search experience. Accordingly, you acknowledge that you are responsible for adequate security, protection and backup of your own content. PAVI will have no liability for any unauthorized access or use of any of your content, or any corruption, deletion, destruction or loss of any of your content. </p>


            <h4 style="text-decoration:underline;"><strong>Application </strong></h4>

            <p>This Privacy Policy applies only to services provided by PAVI and its affiliates. It does not apply to services offered by other companies or individuals, including sites that may include PAVI services, or other sites linked from our services. We will not, however, reduce your rights under this Privacy Policy without your explicit consent. We will post any privacy policy changes on this page and, if the changes are significant, we will provide a more prominent written notice. We will keep all versions of the Privacy Policy in an archive for your review. <br /> <br /> Last Updated: February 1st, 2021 </p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>