.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid #fff; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  .content-info h1 {font-size:60;letter-spacing: .05em;}

  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:#fff }
  }

html{height:100%;}
.mid-bar{position: absolute !important; left: 0; right: 0; top: 30%;}


@media (min-width:768px) and (max-width:1023px){
.content-info h1{font-size:45px; line-height: 45px;}
.content-info h1 .hr-line{height:55px;}
.parent_question li label{font-size:30px; line-height: 30px;}
}

@media (max-width: 767px){
.mid-bar{top: 20%;}	
.content-info h1{font-size:45px; line-height:50px;}
.content-info h1 .hr-line {height: 43px;}
}