<!-- <div class="mid-warp"> -->
<app-header></app-header>
<!-- <div class="mid-col-sec"> -->

<div class="mid-content mid-bar">
 <div class="container">
    <div class="content-info">
      <div *ngIf="jobExp" class="row">
        <div class="col-sm-2"><img src="assets/images/sparkle-test.png" class="welcome-img" /></div>
        <div class="col-sm-10">
          <h1>I am..... <i class="hr-line"></i></h1>
          <ul class="parent_question">
            <li>
              <input type="radio" id="yes" name="radio-btn" checked="" />
              <label for="yes" (click)="helpJob()">Job Seeker</label>
              <div class="check"></div>
            </li>
            <li>
              <input type="radio" id="no" name="radio-btn" />
              <label for="no" (click)="newEmployee()">Employer</label>
              <div class="check"></div>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="helpFlag" class="row">
        <div class="col-sm-2"><img src="assets/images/sparkle-test.png" class="welcome-img" /></div>
        <div class="col-sm-10">
          <h1>Can I help you explore new opportunities? <i class="hr-line"></i></h1>
          <ul class="parent_question">
            <li>
              <input type="radio" id="yes" name="radio-btn" checked="" />
              <label for="yes" (click)="routeYes('jobs/search-job')">Yes</label>
              <div class="check"></div>
            </li>
            <li>
              <input type="radio" id="no" name="radio-btn" />
              <label for="no" (click)="newEmployee()">No</label>
              <div class="check"></div>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="findNewEmployee" class="row">
        <div class="col-sm-2"><img src="assets/images/sparkle-test.png" class="welcome-img" /></div>
        <div class="col-sm-10">
          <h1>Can I help you find a New Employee? <i class="hr-line"></i></h1>
          <ul class="parent_question">
            <li>
              <input type="radio" id="yes" name="radio-btn" checked="" />
              <label for="yes" (click)="routeYes('auth/company-registration')">Yes</label>
              <div class="check"></div>
            </li>
            <li>
              <input type="radio" id="no" name="radio-btn" />
              <label for="no" (click)="router.navigate(['/'])" >No</label>
              <div class="check"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
 </div>
 </div>
 <div class="sound-icon"><a href="javascript:void(0);"><img src="assets/images/sound.png" alt="Sound" title="Sound" /> </a></div>


