.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid #fff; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:#fff }
  }
  html{height:100%;}
.mid-bar{position: absolute !important; left: 0; right: 0; top: 30%;}

/* Image Transition Start */

/* .rotate {
  animation: rotation 3s linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
} */

/* .frame{
  margin-right:30px;
  width:150px;
  height:150px;
  transform-style:preserve-3d;
}

.frame div{
  position:absolute;
  width:50%;
  height:50%;
  background-size:150px 150px;
}

.front{
  background-image:url('assets/images/sparkle-test.png');
}

.front:first-child{
  background-position:0px 0px;
  top:0;
  left:0;
  animation:top-left-front 4s linear alternate;
}

.front:nth-child(2){
  background-position:75px 0px;
  top:0;
  left:75px;
  animation:top-right-front 4s linear alternate;
}

.front:nth-child(3){
  background-position:0px 75px;
  top:75px;
  left:0;
    animation:bottom-left-front 4s linear alternate;

}

.front:nth-child(4){
  background-position:75px 75px;
  top:75px;
  left:75px;
    animation:bottom-right-front 4s linear alternate;

}

.back{
  background-image:url('assets/images/sparkle-test.png');
}

.back:nth-child(5){
  background-position:0px 0px;
  top:0;
  left:0;
  animation:top-left-back 4s linear alternate;
}

.back:nth-child(6){
  background-position:75px 0px;
  top:0;
  left:75px;
  animation:top-right-back 4s linear alternate;
}

.back:nth-child(7){
  background-position:0px 75px;
  top:75px;
  left:0;
  animation:bottom-left-back 4s linear alternate;
}

.back:last-child{
  background-position:75px 75px;
  top:75px;
  left:75px;
  animation:bottom-right-back 4s linear alternate;
}

@keyframes top-left-front{
  0%{transform:translateZ(0px) rotateY(0deg);}
   5%{transform:translateZ(0px) rotateY(0deg);}
  95%{transform:translateZ(-1px) rotateY(-180deg);}
  100%{transform:translateZ(-1px) rotateY(-180deg);}
}

@keyframes top-left-back{
  0%{transform:translateZ(-1px) rotateY(180deg);}
  5%{transform:translateZ(-1px) rotateY(180deg);}
  95%{transform:translateZ(0px) rotateY(0deg);}
  100%{transform:translateZ(0px) rotateY(0deg);}
}

@keyframes top-right-front{
  0%{transform:translateZ(0px) rotateX(0deg);}
  5%{transform:translateZ(0px) rotateX(0deg);}
  95%{transform:translateZ(-1px) rotateX(-180deg);}
  100%{transform:translateZ(-1px) rotateX(-180deg);}
}

@keyframes top-right-back{
  0%{transform:translateZ(-1px) rotateX(180deg);}
  5%{transform:translateZ(-1px) rotateX(180deg);}
  95%{transform:translateZ(0px) rotateX(0deg);}
  100%{transform:translateZ(0px) rotateX(0deg);}
}

@keyframes bottom-left-front{
  0%{transform:translateZ(0px) rotateX(0deg);}
  5%{transform:translateZ(0px) rotateX(0deg);}
  95%{transform:translateZ(-1px) rotateX(180deg);}
  100%{transform:translateZ(-1px) rotateX(180deg);}
}

@keyframes bottom-left-back{
  0%{transform:translateZ(-1px) rotateX(-180deg);}
  5%{transform:translateZ(-1px) rotateX(-180deg);}
  95%{transform:translateZ(0px) rotateX(0deg);}
  100%{transform:translateZ(0px) rotateX(0deg);}
}

@keyframes bottom-right-front{
  0%{transform:translateZ(0px) rotateY(0deg);}
  5%{transform:translateZ(0px) rotateY(0deg);}
  95%{transform:translateZ(-1px) rotateY(180deg);}
  100%{transform:translateZ(-1px) rotateY(180deg);}
}

@keyframes bottom-right-back{
  0%{transform:translateZ(-1px) rotateY(-180deg);}
  5%{transform:translateZ(-1px) rotateY(-180deg);}
  95%{transform:translateZ(0px) rotateY(0deg);}
  100%{transform:translateZ(0px) rotateY(0deg);}
} */

.bb::before, .bb::after, .bb {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bb {
  width: 200px;
  height: 180px;
  background: url("assets/images/sparkle-test.png") no-repeat 40%/85% transparent;
  color: #1a5988;
  box-shadow: inset 0 0 0 1px rgba(58 69 93 / 50%);
}
.bb::before, .bb::after {
  content: "";
  z-index: -1;
  margin: -5%;
  box-shadow: inset 0 0 0 2px;
  animation: clipMe 8s linear infinite;
}
.bb::before {
  animation-delay: -4s;
}
.bb:hover::after, .bb:hover::before {
  background-color: rgba(133, 123, 221, 0.3);
}

@keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 220px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 220px, 0px);
  }
  50% {
    clip: rect(218px, 220px, 220px, 0px);
  }
  75% {
    clip: rect(0px, 220px, 220px, 218px);
  }
}

/* Image Transition End */

@media (min-width:768px) and (max-width:1023px){
.content-info h1{font-size:45px; line-height: 45px;}
.content-info h1 .hr-line{height:50px;}	
	
}

@media (max-width: 767px){
  .content-info h1 {line-height: 55px;text-align: center;font-size: 32px;}
  .frame{margin: 0px auto; text-align: center; display: table;}
  }