<div class="section-block-10-info">
  <p class="profile-header">Contact Information</p>
  <!--  <a class="profile-delete-btn-2">Delete Profile</a>-->
  <button class="btn btn-primary" *ngIf="showEditProfileForm && !showChangeEmail && !showChangePass"
     (click)="saveProfileDetails()">Save</button>
  <button class="btn btn-primary" *ngIf="!showChangeEmail && !showChangePass && !showEditProfileForm"
     (click)="editProfileForm()">Edit Profile</button>
</div>
<div class="section-block-10-form Company Profile">
  <form [formGroup]="profileForm" *ngIf="!showChangeEmail && !showChangePass">
    <div class="row">
      <div class="col-xl-6 col-md-6">
        <div class="form-group">
          <label>First Name:</label>
          <input class="form-control" formControlName="first_name">
        </div>
     
      </div>
      <div class="col-xl-6 col-md-6">
        <div class="form-group">
          <label>Last Name:</label>
          <input class="form-control" formControlName="last_name">
        </div>
     
      </div>
     
      </div>
      <div class="row">
      <div class="col-xl-6 col-md-6">
        <div class="form-group">
          <label>Email:</label>
          <input class="form-control" formControlName="email">
        </div>
      </div>
      <div class="col-xl-6 col-md-6">
        <div class="form-group">
          <label>Country:</label>
          <select class="form-control" formControlName="country">
            <option selected disabled [value]="''">Country*</option>
            <option *ngFor="let country of countries" [value]="country">{{country}}</option>
          </select>
        </div>
        <mat-error *ngIf="country.hasError('patternInvalid')">Country format is <strong>invalid</strong>. </mat-error>
      </div>
      
    </div>
    <div class="row">
    <div class="col-xl-6 col-md-6">
      <div class="form-group">
        <button class="btn btn-primary" (click)="showChangePassForm()">Change Password</button>
      </div>
    </div>
    </div>
    
  </form>
<!--  <div class="old-new-email" *ngIf="showChangeEmail">
    <app-change-email-form (back)="backToMainForm()"></app-change-email-form>
  </div>-->
  <div class="changes-passwords" *ngIf="showChangePass">
    <app-change-password-form (back)="backToMainForm()"></app-change-password-form>
  </div>
</div>
