<form [formGroup]="companyInfoFormGroup">

  <div class="register-block-1">
    <div>
      <div class="login-item">
        <label class="logos-item-label">Company Name</label>
        <input formControlName="name" class="logos-item-input" placeholder="Company Name*"
               (keyup)="checkCompanyName($event)">
        <mat-error *ngIf="isSubmitted && companyCtrl.hasError('required')">Company name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="common.companyNameExists">Company with such name <strong>exists</strong></mat-error>
        <mat-error *ngIf="companyCtrl.hasError('patternInvalid')">Company name is <strong>invalid</strong></mat-error>
      </div>
      <label for="country" class="logos-item-label">Country</label>
      <select id="country" class="logos-item-input" (change)="changeCountry($event)" formControlName="country">
        <option disabled selected [value]="''">Country*</option>
        <option *ngFor="let country of countries" [value]="country">{{country}}</option>
      </select>
      

      
      <mat-error *ngIf="isSubmitted && industryCtrl.hasError('required')">Industry is <strong>required</strong>
      </mat-error>
    </div>
    <div class="jobs-form-inputs">
      <div class="login-item">
        <label for="industry" class="logos-item-label">Industry</label>
      <select id="industry" class="logos-item-input" (change)="changeIndustry($event)" formControlName="industry">
        <option selected disabled [value]="''">Industry*</option>
        <option *ngFor="let industry of industries" [value]="industry">
          {{industry}}
        </option>
      </select>
      </div>
<!--      <div class="jobs-form-item dropdown">-->
<!--        <label>Country</label>-->
<!--        <input class="dropdown-toggle" id="dropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" placeholder="Country">-->
<!--        <i class="fas fa-angle-down select-webkit"></i>-->
<!--        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-4" (change)="changeCountry($event)">-->
<!--          <a class="dropdown-item" *ngFor="let country of countries" [value]="country">{{country}}</a>-->
<!--        </div>-->
<!--      </div>-->
    <mat-error *ngIf="isSubmitted && countryCtrl.hasError('required')">Country is <strong>required</strong>
    </mat-error>
    </div>

  </div>
  <div class="last-block-form">
    <div class="register-buttons">
      <!--      <a class="reset-btn"><i class="fas fa-chevron-left"></i>Reset All</a>-->
    </div>
    <div class="register-buttons">
      <button class="login-btn" (click)="submit()">Next<i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </div>
</form>

