<div *ngIf="isLoder" class="loader"> <svg width="80" height="80" viewBox="0 0 38 38" stroke="#fff">
    <g fill="none" fill-rule="evenodd">
      <g transform="translate(1 1)" stroke-width="2">
        <circle stroke-opacity=".2" cx="18" cy="18" r="18"/>
        <path d="M36 18c0-9.94-8.06-18-18-18">
          <animateTransform
                        attributeName="transform"
                        type="rotate"
                        from="0 18 18"
                        to="360 18 18"
                        dur="1s"
                        repeatCount="indefinite"/>
                </path>
            </g>
        </g>
    </svg> 
    </div> 
      
      <!-- <div class="modal fade in" id="edit-modal-popup-company">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Company data</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form [formGroup]="companyForm" (ngSubmit)="updateCompany()">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Company Name:</label>
                      <input type="text" class="form-control" formControlName="name" readonly>
                      <div *ngIf="companyForm.get('name').invalid"class="alert alert-danger">Company Name is required</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Company Address:</label>
                      <input type="text" class="form-control"  formControlName="address">
                      <div *ngIf="companyForm.get('address').invalid"class="alert alert-danger">Company Address is required</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Phone No:</label>
                      <input type="text" class="form-control"  formControlName="phone">
                      <div *ngIf="companyForm.get('phone').invalid"class="alert alert-danger">Phone No is required</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Country:</label>
                      <select class="form-control" formControlName="country">
                        <option selected disabled [value]="''">Country*</option>
                        <option *ngFor="let country of countries" [value]="country">{{country}}</option>
                      </select>
                      <div *ngIf="companyForm.get('country').invalid"class="alert alert-danger">Country is required</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">First Name:</label>
                      <input type="text" class="form-control"  formControlName="first_name">
                      <div *ngIf="companyForm.get('first_name').invalid"class="alert alert-danger">First Name is required</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Last Name:</label>
                      <input type="text" class="form-control"  formControlName="last_name">
                      <div *ngIf="companyForm.get('last_name').invalid"class="alert alert-danger">Last Name is required</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Email:</label>
                      <input type="text" class="form-control"  formControlName="email" readonly>
                      <div *ngIf="companyForm.get('email').invalid"class="alert alert-danger">Email is required</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Status</label>
                      <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitchuser" tabindex="0" checked="" formControlName="status">
                        <label class="onoffswitch-label" for="myonoffswitch"> <span class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span> </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary ">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div> -->
      
      
    
    
    <div class="bg-images-1">
      <div class="content-warp">
        <div class="content-bg-inner"> 
         <app-admin-sidebar></app-admin-sidebar>
          <div class="right-bar">
            <app-admin-dashboard-header></app-admin-dashboard-header>
            <div class="dashboard-right-mid" id="pills-tabContent">
              <div class="title-warp">
                <h2>Dashboard <span>{{today | date:'longDate'}}</span></h2>
              </div>
    
              <div>
                <div class="inner-page">
                  <!-- <div class="signup-warp animate__fadeInBottomBig animate__animated"> -->
                    <h3>Add Employee</h3>
                    <!-- <h6 class="close-icon"><a href="javascript:void(0);"><img src="assets/images/close-icon.png" /></a></h6> -->
                    <form  [formGroup]="employeeForm">
                      <!-- <div class="private-user-body"> -->
                        <div class="row">
                          <div class="col-xl-6 col-md-6">
                            <div class="form-group">
                              <label>First Name</label>
                              <input class="form-control" type="text" placeholder="First Name*" formControlName="first_name" />
                            </div>
                            <div *ngIf="employeeForm.get('first_name').invalid && (employeeForm.get('first_name').dirty || employeeForm.get('first_name').touched)"class="alert alert-danger">First Name is required</div>
                          </div>
                          <div class="col-xl-6 col-md-6">
                            <div class="form-group">
                              <label>Last Name</label>
                              <input class="form-control" type="text" placeholder="Last Name*" formControlName="last_name" />
                            </div>
                            <div *ngIf="employeeForm.get('last_name').invalid && (employeeForm.get('last_name').dirty || employeeForm.get('last_name').touched)"class="alert alert-danger">Last Name is required</div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-6 col-md-6">
                            <div class="form-group">
                              <label>Position</label>
                              <input class="form-control" type="text" placeholder="Position*" formControlName="position" />
                            </div>
                            <div *ngIf="employeeForm.get('position').invalid && (employeeForm.get('position').dirty || employeeForm.get('position').touched)"class="alert alert-danger">Position is required</div>
                          </div>
                          
                          <div class="col-xl-6 col-md-6">
                            <div class="form-group">
                              <label>User Id</label>
                              <div class="input-group suffix">
                                <input class="form-control suffixInput" type="text" placeholder="User Id*" formControlName="user_id"/>
                                <span class="input-group-addon ">@pavi.ai</span>
                              </div>
                            </div>
                            <div *ngIf="employeeForm.get('user_id').invalid && (employeeForm.get('user_id').dirty || employeeForm.get('user_id').touched)" class="alert alert-danger">User Id is required</div>
                            <div *ngIf="employeeForm.get('user_id').hasError('patternInvalid')" class="alert alert-danger">User Id has <strong>incorrect format</strong> Only Text Allowed</div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-6 col-md-6">
                            <div class="form-group">
                              <label>Password</label>
                              <input class="form-control" type="password" placeholder="Password*" formControlName="password" />
                            </div>
                            <div *ngIf="employeeForm.get('password').invalid && (employeeForm.get('password').dirty || employeeForm.get('password').touched)" class="alert alert-danger">Password is required</div>
                          </div>
                          
                        </div>
                        <div class="row">
                          <!-- <div class="col-sm-6 col-xs-6">
                          <div class="form-group">
                          <button class="btn btn-block" type="button" (click)="userRegisterForm.reset()">Reset All</button>
                          </div>
                          
                          </div> -->
                          <div class="col-sm-12 col-xs-12">
                          <div class="form-group">
                          <button class="btn btn-primary" (click)="saveEmployee()">Submit</button>
                          </div>
                          
                          </div>
                          
                          </div>
                      <!-- </div> -->
                    </form>
                  <!-- </div> -->
                </div>
              </div>
              <div class="overlay"></div>
    
            </div>
          </div>         
        </div>
      </div>
      <!-- <footer>© PAVI AI ALL RIGHTS RESERVED {{today | date:'yyyy'}}</footer> -->
      <app-dashboard-footer></app-dashboard-footer>
    </div>
     
  
