<div class="work-items">
  <div class="work-info">
    <div class="work-header">
      <img src="assets/images/decor-3.svg">
      <p class="work-text-1">Skills</p>
    </div>
    <div class="work-list">
      <ul *ngIf="skillsInfo.length > 0">
        <li *ngFor="let skill of skillsInfo">
          <img class="work-list-sqr" src="assets/images/circle-check.svg">
          <p class="work-text-2">{{skill.name}}</p>
          <div>
            <p class="work-text-6">{{skill.rating}}%</p>
          </div>
          <div class="work-delete-edit" [hidden]="!showingEditDeleteBtns">
            <a>
              <img src="assets/images/edit-work.svg" (click)="showEditDialog(skill)">
            </a>
            <a>
              <img src="assets/images/delete-work.svg" (click)="removeSkill(skill)">
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="work-add-edit">
    <a class="work-add-edit-1" (click)="addProgrammingSkills()">Add +</a>
    <a class="work-add-edit-2" (click)="showEditDeleteBtns()">Edit</a>
  </div>
</div>

