<main>
  <div class="dashboard-text-7">
    <div class="dashboard-text-item">
      <div class="dashboard-text-item-text">
        <div class="dashboard-text-10"><i class="fas fa-angle-left"></i>Go Back</div>
      </div>
      <div class="see-all-list">
        Archive
        <i class="fas fa-chevron-right"></i>
      </div>
      <span class="dashboard-7-span-1"></span>
      <span class="dashboard-7-span-2"></span>
    </div>
    <div class="dashboard-text-item">
      <div class="see-all-list">
      </div>
      <div class="dashboard-text-item-text p-0">
        <div class="dashboard-text-11"><i class="fas fa-angle-left"></i></div>
        <div class="dashboard-text-9">
          <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>
        </div>
        <div class="dashboard-text-11"><i class="fas fa-angle-right"></i></div>
      </div>
      <span class="dashboard-7-span-3"></span>
      <span class="dashboard-7-span-4"></span>
    </div>
  </div>
  <div class="dashboard-archive-job">
      <div class="last-jobs">
        <div class="logos-item">
          <div class="logos-item-img">
            <img src="../../../assets/images/dash-img-12.png">
          </div>
          <div class="logos-block">
            <p class="text-5">Interior Designer</p>
            <p class="text-11">
              <span>Founders: </span>3 days ago
            </p>
            <p class="text-5">Part Time</p>
            <p class="text-12">
              In Austin, Tx
              <span class="text-15">Archieve</span>
            </p>
            <div class="last-jobs-more">
              <div>
                Applied <span>255</span>
              </div>
              <div class="more-last-child">
                More<i class="fas fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="logos-item">
          <div class="logos-item-img">
            <img src="../../../assets/images/dash-img-12.png">
          </div>
          <div class="logos-block">
            <p class="text-5">Interior Designer</p>
            <p class="text-11">
              <span>Founders: </span>3 days ago
            </p>
            <p class="text-5">Part Time</p>
            <p class="text-12">
              In Austin, Tx
              <span class="text-15">Archieve</span>
            </p>
            <div class="last-jobs-more">
              <div>
                Applied <span>255</span>
              </div>
              <div class="more-last-child">
                More<i class="fas fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="logos-item">
          <div class="logos-item-img">
            <img src="../../../assets/images/dash-img-12.png">
          </div>
          <div class="logos-block">
            <p class="text-5">Interior Designer</p>
            <p class="text-11">
              <span>Founders: </span>3 days ago
            </p>
            <p class="text-5">Part Time</p>
            <p class="text-12">
              In Austin, Tx
              <span class="text-15">Archieve</span>
            </p>
            <div class="last-jobs-more">
              <div>
                Applied <span>255</span>
              </div>
              <div class="more-last-child">
                More<i class="fas fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="logos-item">
          <div class="logos-item-img">
            <img src="../../../assets/images/dash-img-12.png">
          </div>
          <div class="logos-block">
            <p class="text-5">Interior Designer</p>
            <p class="text-11">
              <span>Founders: </span>3 days ago
            </p>
            <p class="text-5">Part Time</p>
            <p class="text-12">
              In Austin, Tx
              <span class="text-15">Archieve</span>
            </p>
            <div class="last-jobs-more">
              <div>
                Applied <span>255</span>
              </div>
              <div class="more-last-child">
                More<i class="fas fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="logos-item">
          <div class="logos-item-img">
            <img src="../../../assets/images/dash-img-12.png">
          </div>
          <div class="logos-block">
            <p class="text-5">Interior Designer</p>
            <p class="text-11">
              <span>Founders: </span>3 days ago
            </p>
            <p class="text-5">Part Time</p>
            <p class="text-12">
              In Austin, Tx
              <span class="text-15">Archieve</span>
            </p>
            <div class="last-jobs-more">
              <div>
                Applied <span>255</span>
              </div>
              <div class="more-last-child">
                More<i class="fas fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="logos-item">
          <div class="logos-item-img">
            <img src="../../../assets/images/dash-img-12.png">
          </div>
          <div class="logos-block">
            <p class="text-5">Interior Designer</p>
            <p class="text-11">
              <span>Founders: </span>3 days ago
            </p>
            <p class="text-5">Part Time</p>
            <p class="text-12">
              In Austin, Tx
              <span class="text-15">Archieve</span>
            </p>
            <div class="last-jobs-more">
              <div>
                Applied <span>255</span>
              </div>
              <div class="more-last-child">
                More<i class="fas fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="logos-item">
          <div class="logos-item-img">
            <img src="../../../assets/images/dash-img-12.png">
          </div>
          <div class="logos-block">
            <p class="text-5">Interior Designer</p>
            <p class="text-11">
              <span>Founders: </span>3 days ago
            </p>
            <p class="text-5">Part Time</p>
            <p class="text-12">
              In Austin, Tx
              <span class="text-15">Archieve</span>
            </p>
            <div class="last-jobs-more">
              <div>
                Applied <span>255</span>
              </div>
              <div class="more-last-child">
                More<i class="fas fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="logos-item">
          <div class="logos-item-img">
            <img src="../../../assets/images/dash-img-12.png">
          </div>
          <div class="logos-block">
            <p class="text-5">Interior Designer</p>
            <p class="text-11">
              <span>Founders: </span>3 days ago
            </p>
            <p class="text-5">Part Time</p>
            <p class="text-12">
              In Austin, Tx
              <span class="text-15">Archieve</span>
            </p>
            <div class="last-jobs-more">
              <div>
                Applied <span>255</span>
              </div>
              <div class="more-last-child">
                More<i class="fas fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="logos-item">
          <div class="logos-item-img">
            <img src="../../../assets/images/dash-img-12.png">
          </div>
          <div class="logos-block">
            <p class="text-5">Interior Designer</p>
            <p class="text-11">
              <span>Founders: </span>3 days ago
            </p>
            <p class="text-5">Part Time</p>
            <p class="text-12">
              In Austin, Tx
              <span class="text-15">Archieve</span>
            </p>
            <div class="last-jobs-more">
              <div>
                Applied <span>255</span>
              </div>
              <div class="more-last-child">
                More<i class="fas fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="logos-item">
          <div class="logos-item-img">
            <img src="../../../assets/images/dash-img-12.png">
          </div>
          <div class="logos-block">
            <p class="text-5">Interior Designer</p>
            <p class="text-11">
              <span>Founders: </span>3 days ago
            </p>
            <p class="text-5">Part Time</p>
            <p class="text-12">
              In Austin, Tx
              <span class="text-15">Archieve</span>
            </p>
            <div class="last-jobs-more">
              <div>
                Applied <span>255</span>
              </div>
              <div class="more-last-child">
                More<i class="fas fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</main>
