

<section class="process-to-apply">
  <p class="find-job-text-1">Process To Apply</p>
</section>
<section class="process-to-apply-content">
  <div class="back-next-btns">
    <a><i class="fas fa-angle-left"></i>Go Back To The Vacancy</a>
    <a>Apply To This Work<i class="fas fa-angle-right"></i></a>
  </div>
</section>
<section class="section-block-3">
  <div class="section-block-3-item">
    <img src="assets/images/img-6.png">
    <p class="text-3">Apply To Tis Job</p>
    <p class="text-4">Online Meetings. Training & Technical Support.</p>
  </div>
  <div class="section-block-3-item">
    <img src="assets/images/img-7.png">
    <p class="text-3">Get Confirmation From The Company</p>
    <p class="text-4">Online Meetings. Training & Technical Support.</p>
  </div>
  <div class="section-block-3-item">
    <img src="assets/images/img-5.png">
    <p class="text-3">Take A Self Video Interview</p>
    <p class="text-4">Online Meetings. Training & Technical Support.</p>
  </div>
  <div class="section-block-3-item">
    <img src="assets/images/img-8.png">
    <p class="text-3">Be The Best From All Candidates</p>
    <p class="text-4">Online Meetings. Training & Technical Support.</p>
  </div>
  <div class="section-block-3-item">
    <img src="assets/images/img-9.png">
    <p class="text-3">Get your Work!</p>
    <p class="text-4">Online Meetings. Training & Technical Support.</p>
  </div>
</section>
<app-footer></app-footer>
<div class="footer-content">@ 2020 PICANTE BY 00000 000000 ALL RIGHTS RESERVED</div>


