<div class="paviwelcome mid-bar">
<div *ngIf="!showWelcomeText"class="logo ">
    <figure><a (click) = showAboutPage(); href="javascript:void(0);"><img src="assets/images/logo.png" alt="Pavi" title="Pavi" class="img-responsive" /><h2>Pavi</h2></a></figure>
  </div>

  <div *ngIf="showWelcomeText" class="mid-content mid-bar" style="margin-top:10%">
    <div class="container">
    <div class="content-info typewriter" >
    <h1><img src="assets/images/sparkle-test.png" class="welcome-img" />Welcome to PAVI</h1>
    
    </div>
    </div>
    
    
    </div>
  </div>