<form>
  <div class="form-elements resume-items social-medias">
    <div class="profile-item">
      <label class="resume-label"><img src="../../../../../assets/images/pdf.svg">PDF File:</label>
      <div class="step-3-pdf">
        <div>
          <img src="../../../../../assets/images/pdf-2.svg" class="mr-3">02.05.2020
        </div>
        <div class="step-3-pdf-delete-block">
          <img class="step-3-pdf-delete" src="../../../../../assets/images/delete-work.svg">
        </div>
      </div>
    </div>
    <div class="profile-item">
      <button class="btn btn-primary" (click)="showUploadPdfDialog()">Change</button>
    </div>
    <div class="profile-item mt-4">
      <label class="resume-label"><img src="../../../../../assets/images/tools-and-utensils.svg">Links:</label>
    </div>
  </div>
  <div class="step-3-social">
    <div class="social-step-3">
      <img src="../../../../../assets/images/fb.png">
    </div>
    <div class="social-step-3">
      <img src="../../../../../assets/images/tw.png">
    </div>
    <div class="social-step-3">
      <img src="../../../../../assets/images/pr.png">
    </div>
    <div class="social-step-3">
      <img src="../../../../../assets/images/be.png">
    </div>
    <div class="social-step-3">
      <img src="../../../../../assets/images/ww.png">
    </div>
    <div class="add-step-3" (click)="showAddSocialLinksDialog()">
      Add +
    </div>
  </div>
</form>
