.btn{margin-top: 10px;margin-bottom: 10px;}
.step-3-pdf {width: 370px; border: 1px solid #F5F5F5; height: 60px; border-radius: 50px; padding: 0 10px 0 20px; display: flex;
align-items: center; justify-content: space-between; color: #CCCCCC; font-size: 20px; font-family: "Segoe Regular";}
.step-3-pdf-delete {width: 16px;}
.step-3-pdf-delete-block { box-shadow: 0px 0px 10px #B4B4B429; border-radius: 50px; width: 50px; height: 50px; display: flex;
justify-content: center; align-items: center;}
.social-step-3 { box-shadow: 0px 0px 10px #97979729; width: 60px; height: 60px; border-radius: 50px; display: flex;  justify-content: center; align-items: center; margin-right: 10px;}
.social-step-3:hover {cursor: pointer;}
.add-step-3 { margin-left: 10px;  height: 35px; color: #fff !important; border-radius: 4px; display: flex; justify-content: center; align-items: center; font-size: 14px; background: #337ab7; border: 1px solid #2e6da4; transition: 0.3s ease-in-out;
padding: 6px 12px; margin-top: 15px;}
.step-3-social { display: flex; margin-top: 80px; }
.add-step-3:hover{cursor: pointer;}


@media (max-width: 1700px) {
.step-3-social {justify-content: center;}
.social-medias {justify-content: center; flex-direction: column;}
.social-medias .profile-item {justify-content: center; margin-right: 0;}
.social-medias .profile-item label { margin-right: 0; justify-content: center;}
.step-3-social {flex-wrap: wrap;}
}
@media (max-width: 480px) {
.step-3-pdf {width: 100%;}
.social-medias .profile-item label {margin-right: 0; margin-bottom: 20px; justify-content: center;}
.add-step-3 {margin-left: 0;}
.step-3-social {margin-bottom: 40px;}
.social-medias .profile-item {width: 100%;}
}
