
<div *ngIf="isLoder" class="loader"> <svg width="80" height="80" viewBox="0 0 38 38" stroke="#fff">
  <g fill="none" fill-rule="evenodd">
    <g transform="translate(1 1)" stroke-width="2">
      <circle stroke-opacity=".2" cx="18" cy="18" r="18"/>
      <path d="M36 18c0-9.94-8.06-18-18-18">
        <animateTransform
                      attributeName="transform"
                      type="rotate"
                      from="0 18 18"
                      to="360 18 18"
                      dur="1s"
                      repeatCount="indefinite"/>
              </path>
          </g>
      </g>
  </svg> 
  </div> 
 

<div class="bg-images-1">
  <div class="content-warp">
    <div class="content-bg-inner"> 
      <app-company-sidebar></app-company-sidebar>
        
          <div class="right-bar">
          <app-company-dashboard-header></app-company-dashboard-header>
          <div class="dashboard-right-mid" id="pills-tabContent">
            <div class="title-warp">
              <h2>Dashboard <span>{{today | date:'longDate'}}</span></h2>
            </div>

            <div  id="home">
              
              <div class="dashboard-list-view">
                <div class="row">
                  <div class="col-sm-3 col-xs-6">
                    <div class="dashboard-grid-info" (click)="router.navigate(['/companies/view-jobs'])" style="cursor: pointer;">
                      <h4 style="color:rgb(222, 29, 240)">{{openJobs}}</h4>
                      <p>open jobs</p>
                    </div>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <div class="dashboard-grid-info" (click)="router.navigate(['/companies/applicants'])" style="cursor: pointer;">
                      <h4 style="color:#6e8cd7">{{applicants}}</h4>
                      <p>applicants</p>
                    </div>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <div class="dashboard-grid-info" (click)="router.navigate(['/companies/applicants'],{ queryParams: { filter: 'Completed' } })" style="cursor: pointer;">
                      <h4 style="color:#29b6f6">{{interviewCompleted}}</h4>
                      <p>interviews completed</p>
                    </div>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <div class="dashboard-grid-info">
                      <h4 style="color:#c5c5c5">0</h4>
                      <p> interviews to review</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="dashboard-list-view">
                <div class="row">
                  <div class="col-sm-3 col-xs-6">
                    <div class="dashboard-grid-info" (click)="router.navigate(['/companies/applicants'],{ queryParams: { filter: 'Advance' } })" style="cursor: pointer;">
                      <h4 style="color:#18f513;">{{interview_status?.Advance}}</h4>
                      <p>moving to a final interview</p>
                    </div>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <div class="dashboard-grid-info">
                      <h4 style="color:#c5c5c5;">0</h4>
                      <p>Days the jobs have been open</p>
                    </div>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <div class="dashboard-grid-info" (click)="router.navigate(['/companies/applicants'],{ queryParams: { filter: 'Offer' } })" style="cursor: pointer;">
                      <h4 style="color:#000;">{{interview_status?.Offer}}</h4>
                      <p>pending offers</p>
                    </div>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <div class="dashboard-grid-info" (click)="router.navigate(['/companies/applicants'],{ queryParams: { filter: 'Hired' } })" style="cursor: pointer;">
                      <h4 style="color:#29b6f6;">{{interview_status?.Hired}}</h4>
                      <p>accepted offers</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="map-warp">
                <div class="row">
                  <div class="col-sm-7">
                    <div class="graph-wrap">
                      <canvas #lineCanvas></canvas>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="map-company-view">
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="blck">Company <span><i class="fa fa-angle-down"></i></span></th>
                            <th align="center">Applicants</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="wht">Pierre Design Co.</td>
                            <td style="color:#18f513; text-align:center">39.8%</td>
                          </tr>
                          <tr>
                            <td class="wht">Avengers SARL</td>
                            <td style="color:#f5ed13; text-align:center">26.9%</td>
                          </tr>
                          <tr>
                            <td class="wht">Santa Claus Worksop Co.</td>
                            <td style="color:#26a65b; text-align:center">22.8%</td>
                          </tr>
                          <tr>
                            <td class="wht">Santa Claus Worksop Co.</td>
                            <td style="color:#ef4836; text-align:center">53.2%</td>
                          </tr>
                          <tr>
                            <td class="wht">Other</td>
                            <td style="color:#f39c12; text-align:center">0.2%</td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td>Total Result</td>
                            <td>92.9%</td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div> -->

              <!-- <div class="clander-warp">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="row text-center">
                      <div class="col-md-12">
                        <div class="btn-group">
                          <div
                            class="btn btn-primary"
                            (click)="setView(CalendarView.Month)"
                            [class.active]="view === CalendarView.Month"
                          >
                            Month
                          </div>
                          <div
                            class="btn btn-primary"
                            (click)="setView(CalendarView.Week)"
                            [class.active]="view === CalendarView.Week"
                          >
                            Week
                          </div>
                          <div
                            class="btn btn-primary"
                            (click)="setView(CalendarView.Day)"
                            [class.active]="view === CalendarView.Day"
                          >
                            Day
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="btn-group">
                          <div
                            class="btn btn-primary"
                            mwlCalendarPreviousView
                            [view]="view"
                            [(viewDate)]="viewDate"
                            (viewDateChange)="closeOpenMonthViewDay()"
                          >
                          <i class="fa fa-chevron-left" aria-hidden="true"></i>
                          </div>
                          <div
                            class="btn btn-outline-secondary"
                            mwlCalendarToday
                            [(viewDate)]="viewDate"
                          >
                          {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
                          </div>
                          <div
                            class="btn btn-primary"
                            mwlCalendarNextView
                            [view]="view"
                            [(viewDate)]="viewDate"
                            (viewDateChange)="closeOpenMonthViewDay()"
                          >
                          <i class="fa fa-chevron-right" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br />
                    <div [ngSwitch]="view">
                      <mwl-calendar-month-view
                        *ngSwitchCase="CalendarView.Month"
                        [viewDate]="viewDate"
                        [events]="events"
                       
                      >
                      </mwl-calendar-month-view>
                      <mwl-calendar-week-view
                        *ngSwitchCase="CalendarView.Week"
                        [viewDate]="viewDate"
                        [events]="events"
                       
                      >
                      </mwl-calendar-week-view>
                      <mwl-calendar-day-view
                        *ngSwitchCase="CalendarView.Day"
                        [viewDate]="viewDate"
                        [events]="events"
                       
                      >
                      </mwl-calendar-day-view>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="clander-table">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Candidates </th>
                            <th>&nbsp;</th>
                            <th>Pending</th>
                            <th>Complete</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Jack Richard
                              <p>Rejected Offer</p></td>
                            <td><span>LA DODGER Enterprises</span>
                              <p>Public relations specialist</p></td>
                            <td></td>
                            <td align="center"><a href="#"><img src="../assets/images/close.png" /></a></td>
                          </tr>
                          <tr>
                            <td>Bond Smithon
                              <p>Pending for approval</p></td>
                            <td><span>Pierre Design Co</span>
                              <p>Web developer</p></td>
                            <td align="center"><a href="#"><img src="../assets/images/check.png" /></a></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Jack Richard
                              <p>Moving to final interview</p></td>
                            <td><span>Stallone & Co</span>
                              <p>Multimedia animator</p></td>
                            <td align="center"><a href="#"><img src="../assets/images/check.png" /></a></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Ellen Richard
                              <p>Accepted Offer</p></td>
                            <td><span>Stallone & Co</span>
                              <p>Multimedia animator</p></td>
                            <td></td>
                            <td align="center"><a href="#"><img src="../assets/images/check.png" /></a></td>
                          </tr>
                          <tr>
                            <td>Ellen Richard
                              <p>Accepted Offer</p></td>
                            <td><span>Stallone & Co</span>
                              <p>Multimedia animator</p></td>
                            <td></td>
                            <td align="center"><a href="#"><img src="../assets/images/check.png" /></a></td>
                          </tr>
                          <tr>
                            <td>Ellen Richard
                              <p>Accepted Offer</p></td>
                            <td><span>Stallone & Co</span>
                              <p>Multimedia animator</p></td>
                            <td></td>
                            <td align="center"><a href="#"><img src="../assets/images/check.png" /></a></td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->

              <!-- <div class="application-warp">
                <h3>APLICATION DETAILS <a href="#"><img src="../assets/images/refesh.png" /></a></h3>
                <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Company Position</th>
                      <th>Date Opened</th>
                      <th>Days Job Opened</th>
                      <th>Candidate Interviewed</th>
                      <th>Candidate in Final round</th>
                      <th>Number of Offers</th>
                      <th>Offers Accepted </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>PARKER & BEYONDDesigner</td>
                      <td>12/02/2020</td>
                      <td align="center">3</td>
                      <td align="center">23</td>
                      <td align="center">23</td>
                      <td align="center">23</td>
                      <td align="center">23</td>
                    </tr>
                    <tr>
                      <td>PARKER & BEYONDDesigner</td>
                      <td>12/02/2020</td>
                      <td align="center">4</td>
                      <td align="center">43</td>
                      <td align="center">43</td>
                      <td align="center">43</td>
                      <td align="center">43</td>
                    </tr>
                    <tr>
                      <td>PARKER & BEYONDDesigner</td>
                      <td>12/02/2020</td>
                      <td align="center">19</td>
                      <td align="center">33</td>
                      <td align="center">33</td>
                      <td align="center">33</td>
                      <td align="center">33</td>
                    </tr>
                    <tr>
                      <td>PARKER & BEYONDDesigner</td>
                      <td>12/02/2020</td>
                      <td align="center">25</td>
                      <td align="center">125</td>
                      <td align="center">125</td>
                      <td align="center">125</td>
                      <td align="center">125</td>
                    </tr>
                    <tr>
                      <td>PARKER & BEYONDDesigner</td>
                      <td>12/02/2020</td>
                      <td align="center">56</td>
                      <td align="center">65</td>
                      <td align="center">65</td>
                      <td align="center">65</td>
                      <td align="center">65</td>
                    </tr>
                    <tr>
                      <td>PARKER & BEYONDDesigner</td>
                      <td>12/02/2020</td>
                      <td align="center">2</td>
                      <td align="center">2</td>
                      <td align="center">2</td>
                      <td align="center">2</td>
                      <td align="center">2</td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div> -->
              
            </div>
         
            </div>
            </div>
                
    </div>
    </div>
  <!-- <footer>© PAVI AI ALL RIGHTS RESERVED {{today | date:'yyyy'}}</footer> -->
  <app-dashboard-footer></app-dashboard-footer>
</div>